<div class="md:max-w-lg">
    <h1 mat-dialog-title class="mb-4 text-xl font-semibold">{{ 'member.dialog_form_address.member_address' | transloco }}</h1>
    <div mat-dialog-content class="md:max-h-180">
        <form [formGroup]="form">
            <div class="flex-auto">
                <div class="flex flex-col md:flex-row mb-2 w-full gap-2">
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'member.dialog_form_address.province' | transloco }}</mat-label>
                            <input matInput [placeholder]="''" formControlName="province">
                        </mat-form-field>
                    </div>
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'member.dialog_form_address.district' | transloco }}</mat-label>
                            <input matInput [placeholder]="''" formControlName="district">
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row mb-2 w-full gap-2">
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'member.dialog_form_address.sub_district' | transloco }}</mat-label>
                            <input matInput [placeholder]="''" formControlName="sub_district">
                        </mat-form-field>
                    </div>
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'member.dialog_form_address.postal_code' | transloco }}</mat-label>
                            <input matInput [placeholder]="''" formControlName="postal_code">
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row mb-2 w-full gap-2">
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'member.dialog_form_address.latitude' | transloco }}</mat-label>
                            <input matInput [placeholder]="''" formControlName="latitude">
                        </mat-form-field>
                    </div>
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'member.dialog_form_address.longitude' | transloco }}</mat-label>
                            <input matInput [placeholder]="''" formControlName="longitude">
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col md:flex mb-2">
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'member.dialog_form_address.address_details' | transloco }}</mat-label>
                            <textarea matInput [placeholder]="'member.dialog_form_address.enter_address' | transloco" formControlName="address"
                                [rows]="2"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div mat-dialog-actions class="flex justify-end border-t-2 pt-4">
                <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onClose()">
                    {{ 'buttons.cancel' | transloco }}
                </button>
                <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
                    {{ 'buttons.save' | transloco }}
                </button>
            </div>
        </form>
    </div>
</div>
