::ng-deep .custom-dialog-container .mat-dialog-container {
    padding: 0 !important;
    background: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw !important;
    max-height: 100vh !important;
}

