<div class="md:w-full">
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="this.data?.type === 'NEW'">{{ 'bank.labels.addata' | transloco }}</h1>
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="this.data?.type === 'EDIT'">{{ 'bank.labels.editdata' | transloco }}</h1>
    <form [formGroup]="form">
        <div mat-dialog-content class="overflow-y-auto md:max-h-180 w-full">
            <div class="flex-auto">
                <div class="flex flex-col md:flex mb-6">
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'bank.labels.bank_name' | transloco }}</mat-label>
                            <input matInput [placeholder]="'bank.placholder.pleasename' | transloco" formControlName="bank_name">
                        </mat-form-field>
                    </div>
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'bank.labels.branch' | transloco }}</mat-label>
                            <input matInput [placeholder]="'bank.placholder.pleasename' | transloco" formControlName="branch">
                        </mat-form-field>
                    </div>
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'bank.labels.account_name' | transloco }}</mat-label>
                            <input matInput [placeholder]="'bank.placholder.pleasename' | transloco" formControlName="account_name">
                        </mat-form-field>
                    </div>
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'bank.labels.account_number' | transloco }}</mat-label>
                            <input matInput [placeholder]="'bank.placholder.pleasenumber' | transloco" formControlName="account_number">
                        </mat-form-field>
                    </div>
                    <div class="md:w-full">
                        <label class="text-sm font-medium mb-2 block">{{ 'bank.labels.vat' | transloco }}</label>
                        <mat-radio-group formControlName="vat" class="flex flex-wrap gap-4">
                            <mat-radio-button value="Y">{{ 'bank.labels.vatInclude' | transloco }}</mat-radio-button>
                            <mat-radio-button value="N">{{ 'bank.labels.vatExclude' | transloco }}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="flex w-full flex-col justify-center gap-4">
                    <div>
                        <label class="text-sm font-medium mb-2 block">{{ 'bank.labels.bank_icon' | transloco }}</label>
                        <asha-upload-file [existingImage]="form.get('icon').value"
                            (filesChanged)="onFilesChange($event, 'icon')"></asha-upload-file>
                    </div>
                    <div>
                        <label class="text-sm font-medium mb-2 block">{{ 'bank.labels.promptpay_qr' | transloco }}</label>
                        <asha-upload-file [existingImage]="form.get('image').value"
                            (filesChanged)="onFilesChange($event, 'image')"></asha-upload-file>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div> check : {{this.form.value | json}}</div> -->
        <div mat-dialog-actions class="flex justify-end">
            <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
                {{ 'buttons.submit' | transloco }}
            </button>
            <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onClose()">
                {{ 'buttons.cancel' | transloco }}
            </button>
        </div>
    </form>
</div>
