<div class="p-6">
    <h2 class="text-lg font-semibold mb-4">{{ 'dialog.dialog_tracking.add_new_tracking' | transloco }}</h2>

    <div>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{ 'dialog.dialog_tracking.tracking' | transloco }}</mat-label>
            <input matInput id="trackingInput"
                [placeholder]="'dialog.dialog_tracking.tracking_number_placeholder' | transloco" />
        </mat-form-field>
    </div>

    <div class="mt-6">
        <!-- <div class="flex items-end gap-2">
            <button class="my-2 " mat-flat-button [color]="'primary'" (click)="toggleSelectAll(!isAllSelected)">
                {{ isAllSelected ? ('buttons.deselectAll' | transloco) : ('buttons.selectAll' | transloco) }}
            </button>
        </div> -->
        <table #dt datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
            class="table w-full bg-white row-border hover whitespace-nowrap">
        </table>
    </div>

    <div mat-dialog-actions class="flex justify-end border-t-2 mt-2 p-2">
        <button type="button" class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
            {{ 'buttons.submit' | transloco }}
        </button>
        <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onClose()">
            {{ 'buttons.cancel' | transloco }}
        </button>
    </div>
</div>


<ng-template #checkbox let-data="adtData">
    <mat-checkbox class="text-white" [color]="'primary'" [checked]="data.selected"
        (change)="onCheckboxChange($event, data)">
    </mat-checkbox>
</ng-template>