<div class="flex flex-col items-center justify-start flex-auto">
    <div class="flex flex-col items-center justify-between w-full overflow-hidden">
        <div class="flex flex-col items-start justify-start w-full">
            <div class="w-full px-10 pt-5 pb-2.5 bg-white justify-between items-center flex">
                <div class="flex flex-col">
                    <div class="flex space-x-2">
                        <button class="font-medium leading-7 tracking-tight truncate md:text-sm sm:leading-10"
                            [routerLink]="['/delivery-note']" routerLinkActive="router-link-active">
                            เอกสาร
                        </button>
                        <p class="font-medium leading-7 tracking-tight truncate md:text-sm sm:leading-10">></p>
                        <button class="font-medium leading-7 tracking-tight truncate md:text-sm sm:leading-10"
                            [routerLink]="['/delivery-note']" routerLinkActive="router-link-active">
                            ใบส่งของ
                        </button>
                    </div>

                    <p class="md:text-2xl text-[#DF0B12] font-bold tracking-tight leading-7 sm:leading-10 truncate">
                        <span *ngIf="type === 'NEW'">เพิ่มรายการ Packing List</span>
                        <span *ngIf="type === 'EDIT'">หมายเลขจัดส่ง: {{ data?.code }}</span>
                    </p>
                </div>
                <div class="flex items-center justify-end gap-2">
                    <button mat-flat-button (click)="Close()">
                        <mat-icon [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                        <span class="ml-2">ยกเลิก</span>
                    </button>
                    <button mat-flat-button [color]="'primary'" (click)="Submit()">
                        <mat-icon [svgIcon]="'heroicons_solid:pencil-square'"></mat-icon>
                        <span class="ml-2">บันทึก</span>
                    </button>
                </div>
            </div>
            <div class="flex flex-col w-full px-10 bg-white " [formGroup]="form">
                <div class="flex flex-row gap-2">
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>รหัสผู้นำเข้า</mat-label>
                            <input matInput [placeholder]="'กรุณากรอก รหัสผู้นำเข้า'"
                                formControlName="code">
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>หมายเลขจัดส่ง</mat-label>
                            <input matInput [placeholder]="'หมายเลขจัดส่ง'" formControlName="send_no">
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row gap-2">
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>รายละเอียดที่อยู่</mat-label>
                            <input matInput [placeholder]="'กรุณากรอก รายละเอียดที่อยู่'"
                                formControlName="address">
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row gap-2">
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>เบอร์โทร</mat-label>
                            <input matInput [placeholder]="'กรุณากรอก Packinglist No.'"
                                formControlName="phone">
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>ติดป้ายเป็น (ที่ทำงาน/บ้าน)</mat-label>
                            <mat-select formControlName="location" placeholder="">
                                <mat-option [value]="">ที่ทำงาน</mat-option>
                                <mat-option [value]="">ที่บ้าน</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>ช่วงเวลาที่สะดวกรับสินค้า</mat-label>
                            <mat-select formControlName="convenient_time" placeholder="ช่วงเวลาที่สะดวกรับสินค้า">
                                <mat-option [value]="">จันทร์-ศุกร์</mat-option>
                                <mat-option [value]="">เสาร์-อาทิตย์</mat-option>
                                <mat-option [value]="">สะดวกรับทุกวัน</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row gap-2">
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>ขนส่งไทย</mat-label>

                            <mat-select formControlName="transport_id">
                                <mat-option *ngFor="let transport of transports" [value]="transport.id">{{ transport.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>พื้นที่</mat-label>
                            <input matInput formControlName="area">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
