<div class="p-6">
    <h2 class="text-2xl font-semibold mb-4">{{ 'delivery_note.dialog_choose.create_title' | transloco }}</h2>
    <form [formGroup]="form">
        <div class="grid grid-cols-2 gap-4">
            <!-- ตัวเลือก "มารับเอง" -->
            <label class="flex flex-col border rounded-lg p-4 cursor-pointer"
                [class.border-red-500]="form.value.type === 'self'">
                <div class="flex justify-between items-center">
                    <span class="text-lg">{{ 'delivery_note.dialog_choose.self_pickup_label' | transloco }}</span>
                    <mat-checkbox class="text-white" [color]="'primary'" [checked]="form.value.type === 'self'"
                        (change)="form.patchValue({ type: 'self' })"></mat-checkbox>
                </div>
                <span class="text-sm text-gray-500">{{ 'delivery_note.dialog_choose.self_pickup_description' | transloco }}</span>
            </label>

            <!-- ตัวเลือก "บริษัทนำส่งหรือรถร่วม" -->
            <label class="flex flex-col border rounded-lg p-4 cursor-pointer"
                [class.border-red-500]="form.value.type === 'company'">
                <div class="flex justify-between items-center">
                    <span class="text-lg">{{ 'delivery_note.dialog_choose.company_delivery_label' | transloco }}</span>
                    <mat-checkbox class="text-white" [color]="'primary'" [checked]="form.value.type === 'company'"
                        (change)="form.patchValue({ type: 'company' })"></mat-checkbox>
                </div>
                <span class="text-sm text-gray-500">{{ 'delivery_note.dialog_choose.company_delivery_description' | transloco }}</span>
            </label>
        </div>
    </form>
    <div mat-dialog-actions class="flex justify-end border-t-2 mt-2 p-2">
        <button class="px-6 ml-3" mat-flat-button (click)="onClose()">
            {{ 'buttons.cancel' | transloco }}
        </button>
        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
            {{ 'buttons.save' | transloco }}
        </button>
    </div>
</div>
