<!-- <mat-form-field class="w-full md:w-4/4 fuse-mat-dense">
    <mat-label>{{ 'common.select_member.customer' | transloco }}</mat-label>
    <input matInput [formControl]="memberFilter" [matAutocomplete]="memberAutoComplete"
        [placeholder]="'common.select_member.search_customer_placeholder' | transloco" />
    <mat-autocomplete #memberAutoComplete="matAutocomplete"
        (optionSelected)="onSelectMember($event.option.value)">
        <mat-option *ngFor="let item of filterMember | async" [value]="item">
            {{item.fullname}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field> -->
<mat-form-field class="w-full md:w-4/4 fuse-mat-dense">
    <mat-label>{{ title | transloco }}</mat-label>
    <input matInput [formControl]="memberFilter" [matAutocomplete]="memberAutoComplete"
        [placeholder]="'common.select_member.search_customer_placeholder' | transloco" />
    <mat-autocomplete #memberAutoComplete="matAutocomplete" (optionSelected)="onSelectMember($event.option.value)">
        <mat-option *ngFor="let item of filterMember | async" [value]="item">
            {{item.importer_code}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
