<div class="p-6">
    <h2 class="text-2xl font-semibold mb-4">{{ 'delivery_note.dialog_tracking.title' | transloco }}</h2>
    <form [formGroup]="form">
        <div class="flex flex-col w-full gap-2 items-end">
            <div class="w-full">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                    <mat-label>{{ 'delivery_note.dialog_tracking.form_delivery_note_label' | transloco }}</mat-label>
                    <mat-select formControlName="tracking_id">
                        <mat-option [value]="'test01'">test01</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                    <mat-label>{{ 'delivery_note.dialog_tracking.form_packing_list_label' | transloco }}</mat-label>
                    <input matInput formControlName="tracking">
                </mat-form-field>
            </div>
        </div>
    </form>
    <div mat-dialog-actions class="flex justify-end border-t-2 mt-2 p-2">
        <button class="px-6 ml-3" mat-flat-button (click)="onClose()">
            {{ 'buttons.cancel' | transloco }}
        </button>
        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
            {{ 'buttons.save' | transloco }}
        </button>
    </div>
</div>
