// :host {
//   display: block;
// }

::ng-deep tr {
  height: 56px !important;
}

.mat-tab-label {
    color: #DE1017 !important;
}

.dataTable thead th {
    background-color: #f2f2f2;
    color: black;
}
