<div class="md:max-w-lg">
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="this.data?.type === 'NEW'">เพิ่มข้อมูล</h1>
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="this.data?.type === 'EDIT'">แก้ไขข้อมูล</h1>
    <form [formGroup]="form">
        <div mat-dialog-content class="overflow-y-auto md:max-h-180">
            <div class="flex-auto">
                <div class="flex flex-col md:flex mb-6">
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>ชื่อ</mat-label>
                            <input matInput [placeholder]="'กรุณาระบุชื่อ'" formControlName="name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col md:flex mb-6">
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>เบอร์โทรศัพท์</mat-label>
                            <input matInput [placeholder]="'กรุณาระบุเบอร์โทรศัพท์'" formControlName="phone">
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col md:flex mb-6">
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full" type="textarea">
                            <mat-label>รายละเอียด</mat-label>
                            <textarea  matInput [placeholder]="'กรุณาระบุรายละเอียด'" formControlName="description"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col md:flex mb-6">
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full" type="textarea">
                            <mat-label>ที่อยู่</mat-label>
                            <textarea  matInput [placeholder]="'กรุณาระบุที่อยู่'" formControlName="address"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col md:flex mb-6">
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full" type="textarea">
                            <mat-label>ที่ตั้ง</mat-label>
                            <textarea  matInput [placeholder]="'กรุณาระบุที่ตั้ง'" formControlName="map"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex w-full flex-col justify-center gap-2">
                    <div class="flex w-full justify-center">
                        <asha-image-upload [initial]="null" (uploadSuccess)="uploadSuccess($event)" accept="image/*"></asha-image-upload>
                    </div>

                    <div class="flex justify-center w-full">
                        <img [src]="imageUrl" alt="" class="w-auto">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div> check : {{this.form.value | json}}</div> -->
        <div mat-dialog-actions class="flex justify-end">
            <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
                ตกลง
            </button>
            <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onClose()">
                ยกเลิก
            </button>
        </div>
    </form>
</div>
