<div class="flex flex-col overflow-y-auto">
  <p class="font-bold text-lg">{{ 'buttons.addItem' | transloco }}สินค้า</p>

  <div class="flex justify-end space-x-2">
    <button class="w-auto h-[32px] border-2 rounded flex items-center justify-center space-x-2 mt-2"
      (click)="onClose()">
      <p class="text-gray-400 text-sm font-medium pt-[3px] mx-2">{{ 'buttons.cancel' | transloco }}</p>
    </button>
    <button class="w-auto h-[32px] bg-[#DF0B12] rounded flex items-center justify-center space-x-2 mt-2">
      <p class="text-white text-sm font-medium pt-[3px] mx-2">{{ 'buttons.addItem' | transloco }}ใหม่</p>
    </button>
  </div>
</div>