<div class="flex flex-col flex-auto justify-start items-center w-full">
    <div class="w-full flex-col justify-between items-center flex overflow-hidden">
        <div class="w-full flex-col justify-start items-start flex">
            <div class="w-full px-4 md:px-10 pt-5 pb-2.5 bg-white justify-between items-center flex gap-2">
                <div class="flex flex-col">
                    <div class="flex space-x-2">
                        <button class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate"
                            [routerLink]="['/delivery_orders']" routerLinkActive="router-link-active">
                            {{ 'dalivery_order.title.main' | transloco }}
                        </button>
                        <p class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate">></p>
                        <button
                            class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate text-[#DF0B12]"
                            [routerLink]="['/delivery_orders']" routerLinkActive="router-link-active">
                            {{ 'dalivery_order.title.subtitle' | transloco }}
                        </button>
                    </div>

                    <p class="md:text-2xl text-[#DF0B12] font-bold tracking-tight leading-7 sm:leading-10 truncate">
                        {{ 'dalivery_order.setting.standard_settings' | transloco }}
                    </p>
                </div>
                <div class="justify-end items-center gap-2 flex flex-col md:flex-row" *ngIf="edit">
                    <button mat-flat-button [color]="'accent'" class="text-white" (click)="openForm()">
                        <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:edit_note'"></mat-icon>
                        <span class="ml-2 text-white">{{ 'buttons.edit' | transloco }}</span>
                    </button>
                </div>
                <div class="justify-end items-center gap-2 flex flex-col md:flex-row" *ngIf="!edit">
                    <div class="border border-black rounded-md">
                        <button mat-flat-button (click)="openForm()" class="hover-effect">
                            <mat-icon svgIcon="feather:trash"></mat-icon>
                            <span class="ml-2">{{ 'buttons.cancel' | transloco }}</span>
                        </button>
                    </div>
                    <button mat-flat-button [color]="'primary'" (click)="Submit()">
                        <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:save'"></mat-icon>
                        <span class="ml-2">{{ 'buttons.save' | transloco }}</span>
                    </button>
                </div>
            </div>
            <div class="w-full px-4 md:px-10 pt-5 pb-2.5 bg-white flex flex-col">
                <form [formGroup]="filterForm">
                    <div class="flex flex-col md:flex-row w-full gap-2 items-end ">
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                <input matInput class="ml-2" [placeholder]="'dalivery_order.setting.search_with_item' | transloco" formControlName="name">
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="w-full px-4 md:px-10 pt-5 pb-20 bg-white py-20 flex flex-col " *ngIf="edit">
                <div class="overflow-x-auto">
                    <table class="whitespace-nowrap w-full">
                        <thead>
                            <tr>
                                <th class="px-6 py-3 tracking-wider border border-l-0 w-10">#</th>
                                <th class="px-6 py-3 tracking-wider border border-x-0 ">{{
                                    'dalivery_order.setting.items' | transloco }}</th>
                                <th class="px-6 py-3 tracking-wider border border-x-0 ">{{
                                    'dalivery_order.setting.width' | transloco }}</th>
                                <th class="px-6 py-3 tracking-wider border border-x-0 ">{{
                                    'dalivery_order.setting.length' | transloco }}</th>
                                <th class="px-6 py-3 tracking-wider border border-x-0 ">{{
                                    'dalivery_order.setting.height' | transloco }}</th>
                                <th class="px-6 py-3 tracking-wider border border-x-0 ">{{
                                    'dalivery_order.setting.weight' | transloco }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dataRow; let i = index">
                                <td class="px-6 py-4 text-center border border-l-0">{{ i + 1 }}</td>
                                <td class="px-6 py-4 text-center border border-x-0 ">{{ item.name }}</td>
                                <td class="px-6 py-4 text-center border border-x-0 ">{{ item.width }}</td>
                                <td class="px-6 py-4 text-center border border-x-0 ">{{ item.long }}</td>
                                <td class="px-6 py-4 text-center border border-x-0 ">{{ item.height }}</td>
                                <td class="px-6 py-4 text-center border border-x-0 ">{{ item.weight }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="w-full px-4 md:px-10 pt-5 pb-20 bg-white flex flex-col overflow-x-auto" *ngIf="!edit">
                <form [formGroup]="form">
                    <div class="overflow-x-auto">
                        <table class="whitespace-nowrap w-full">
                            <thead>
                                <tr>
                                    <th class="px-6 py-3 tracking-wider border border-x-0 w-10"></th>
                                    <th class="px-6 py-3 tracking-wider border border-l-0 w-10">#</th>
                                    <th class="px-6 py-3 tracking-wider border border-x-0 ">{{
                                        'dalivery_order.setting.items' | transloco }}</th>
                                    <th class="px-6 py-3 tracking-wider border border-x-0 ">{{
                                        'dalivery_order.setting.width' | transloco }}</th>
                                    <th class="px-6 py-3 tracking-wider border border-x-0 ">{{
                                        'dalivery_order.setting.length' | transloco }}</th>
                                    <th class="px-6 py-3 tracking-wider border border-x-0 ">{{
                                        'dalivery_order.setting.height' | transloco }}</th>
                                    <th class="px-6 py-3 tracking-wider border border-x-0 ">{{
                                        'dalivery_order.setting.weight' | transloco }}</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="data">
                                <tr *ngFor="let item of dataFormArray.controls; let i = index" [formGroupName]="i">
                                    <td class="p-2 text-center border border-x-0">
                                        <button mat-icon-button (click)="opendialogdelete(item.get('id').value)">
                                            <mat-icon [svgIcon]="'feather:trash'"></mat-icon>
                                        </button>
                                    </td>
                                    <td class="p-2 text-center border border-l-0">{{ i + 1 }}</td>
                                    <td class="p-2 text-center border border-x-0  ">
                                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                            <input matInput formControlName="name" class="text-center">
                                        </mat-form-field>
                                    </td>
                                    <td class="p-2 text-center border border-x-0 ">
                                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                            <input matInput formControlName="width" class="text-center">
                                        </mat-form-field>
                                    </td>
                                    <td class="p-2 text-center border border-x-0 ">
                                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                            <input matInput formControlName="long" class="text-center">
                                        </mat-form-field>
                                    </td>
                                    <td class="p-2 text-center border border-x-0 ">
                                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                            <input matInput formControlName="height" class="text-center">
                                        </mat-form-field>
                                    </td>
                                    <td class="p-2 text-center border border-x-0 ">
                                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                            <input matInput formControlName="weight" class="text-center">
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button mat-flat-button color="accent" (click)="addStandardItem()"
                        class="flex items-center mt-2 text-white">
                        <mat-icon class="icon-size-5 " [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                        <span class="ml-2 text-white">{{ 'buttons.addItem' | transloco }}</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
