<div class="flex flex-col flex-auto justify-start items-center w-full">
    <div class="w-full flex-col justify-between items-center flex overflow-hidden">
        <div class="w-full flex-col justify-start items-start flex">
            <div class="w-full px-4 md:px-10 pt-5 pb-2.5 bg-white justify-between items-center flex">
                <div class="flex flex-col">
                    <div class="flex space-x-2">
                        <button class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate"
                            [routerLink]="['/delivery-note']" routerLinkActive="router-link-active">
                            {{ 'delivery_note.document' | transloco }}
                        </button>
                        <p class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate">></p>
                        <button
                            class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate text-[#DF0B12]"
                            [routerLink]="['/delivery-note']" routerLinkActive="router-link-active">
                            {{ 'delivery_note.title' | transloco }}
                        </button>
                    </div>

                    <p class="md:text-2xl text-[#DF0B12] font-bold tracking-tight leading-7 sm:leading-10 truncate">
                        <span *ngIf="type !== 'edit'">{{ 'delivery_note.view_order.create' | transloco }}</span>
                        <span *ngIf="type === 'edit'">{{ 'delivery_note.view_order.update' | transloco }}</span>
                    </p>
                </div>
                <div class="justify-end items-center gap-2 flex flex-col md:flex-row">
                    <button mat-flat-button [color]="'primary'" (click)="print()">
                        <mat-icon [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                        <span class="ml-2">ปริ้น</span>
                    </button>
                    <div class="border border-black rounded-md">
                        <button mat-flat-button (click)="close()" class="hover-effect">
                            <mat-icon svgIcon="feather:trash"></mat-icon>
                            <span class="ml-2">{{ 'buttons.cancel' | transloco }}</span>
                        </button>
                    </div>
                    <button mat-flat-button [color]="'primary'" (click)="Submit()">
                        <mat-icon [svgIcon]="'mat_outline:save'" class=""></mat-icon>
                        <span class="ml-2" *ngIf="type !== 'edit'">{{ 'buttons.save' | transloco }}</span>
                        <span class="ml-2" *ngIf="type === 'edit'">{{ 'buttons.update' | transloco }}</span>
                    </button>
                </div>
            </div>

            <div class="w-full px-4 md:px-10 flex flex-col gap-2 bg-white">
                <div class="flex flex-row items-center justify-between w-full">
                    <!-- Step 1 -->
                    <div class="flex flex-col items-center mt-6 md:mt-0">
                        <div class="w-12 h-12 rounded-full bg-red-600 flex items-center justify-center mb-3">
                            <mat-icon class="text-white" svgIcon="heroicons_solid:user"></mat-icon>
                        </div>
                        <p class="text-red-600 font-medium text-center whitespace-nowrap">
                            {{ 'delivery_note.view_order.steps_delivery_info' | transloco }}
                        </p>
                    </div>

                    <!-- Connecting Line 1 -->
                    <div class="hidden md:flex w-full max-w-xs items-center justify-center">
                        <div class="h-0.5 bg-red-600 w-full"></div>
                    </div>

                    <!-- Step 2 -->
                    <div class="flex flex-col items-center mt-6 md:mt-0">
                        <div class="w-12 h-12 rounded-full bg-red-600 flex items-center justify-center mb-3">
                            <mat-icon class="text-white" svgIcon="heroicons_solid:qr-code"></mat-icon>
                        </div>
                        <p class="text-red-600 font-medium text-center whitespace-nowrap">
                            {{ 'delivery_note.view_order.steps_scan_out' | transloco }}
                        </p>
                    </div>

                    <!-- Connecting Line 2 -->
                    <div class="hidden md:block w-full max-w-xs">
                        <div class="h-0.5 bg-red-600"></div>
                    </div>

                    <!-- Step 3 -->
                    <div class="flex flex-col items-center mt-6 md:mt-0">
                        <div class="w-12 h-12 rounded-full bg-red-600 flex items-center justify-center mb-3">
                            <mat-icon class="text-white" svgIcon="heroicons_solid:photo"></mat-icon>
                        </div>
                        <p class="text-red-600 font-medium text-center whitespace-nowrap">
                            {{ 'delivery_note.view_order.steps_reference_images' | transloco }}
                        </p>
                    </div>

                    <!-- Connecting Line 3 -->
                    <div class="hidden md:block w-full max-w-xs">
                        <div class="h-0.5 bg-red-600"></div>
                    </div>

                    <!-- Step 4 -->
                    <div class="flex flex-col items-center mt-6 md:mt-0">
                        <div class="w-12 h-12 rounded-full bg-red-600 flex items-center justify-center mb-3">
                            <mat-icon class="text-white" svgIcon="heroicons_solid:clipboard"></mat-icon>
                        </div>
                        <p class="text-red-600 font-medium text-center whitespace-nowrap">
                            {{ 'delivery_note.view_order.steps_verify_info' | transloco }}
                        </p>
                    </div>
                </div>

                <form [formGroup]="Form">
                    <div class="w-full flex-col gap-2 flex mt-5">
                        <div class="w-full flex-col flex">
                            <div class="text-lg font-bold">
                                {{ 'delivery_note.view_order.member_info_title' | transloco }}
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="w-full grid grid-flow-row grid-cols-2 gap-x-2 ">
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'delivery_note.view_order.member_info_customer_code' | transloco }}</mat-label>
                                    <mat-select formControlName="customerCode">
                                        <mat-option *ngFor="let customer of customers" [value]="customer.id">
                                            {{customer.importer_code}} - {{customer.fname}} {{customer.lname}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'delivery_note.view_order.member_info_warehouse_date' | transloco }}</mat-label>
                                    <input matInput [matDatepicker]="picker" [placeholder]="''"
                                        formControlName="warehouseDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="w-full col-span-2">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'delivery_note.view_order.member_info_note' | transloco }}</mat-label>
                                    <input matInput [placeholder]="''" formControlName="note">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="w-full flex-col gap-2 flex mt-5" *ngIf="status_type ==='send'">
                        <div class="w-full flex-col flex">
                            <div class="text-lg font-bold">
                                {{ 'delivery_note.view_order.delivery_info_title' | transloco }}
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="w-full flex flex-col md:grid md:grid-cols-3 gap-x-2 ">
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'delivery_note.view_order.delivery_info_send_full_name' | transloco }}</mat-label>
                                    <input matInput [placeholder]="''" formControlName="fullName">
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'delivery_note.view_order.delivery_info_send_driver_phone' | transloco
                                        }}</mat-label>
                                    <input matInput [placeholder]="''" formControlName="driverPhone">
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'delivery_note.view_order.delivery_info_send_license_number' | transloco
                                        }}</mat-label>
                                    <input matInput [placeholder]="''" formControlName="licenseNumber">
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'delivery_note.view_order.delivery_info_send_car_registration' | transloco
                                        }}</mat-label>
                                    <input matInput [placeholder]="''" formControlName="carRegistration">
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'delivery_note.view_order.delivery_info_send_shipped_by' | transloco }}</mat-label>
                                    <input matInput [placeholder]="''" formControlName="shippedBy">
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'delivery_note.view_order.delivery_info_send_area' | transloco }}</mat-label>
                                    <input matInput [placeholder]="''" formControlName="area">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="w-full flex-col gap-2 flex mt-5" *ngIf="status_type ==='pick'">
                        <div class="w-full flex-col flex">
                            <div class="text-lg font-bold">
                                {{ 'delivery_note.view_order.delivery_info_title' | transloco }}
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="w-full flex flex-col md:grid md:grid-cols-3 gap-x-2 ">
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'delivery_note.view_order.delivery_info_pick_receiver' | transloco }}</mat-label>
                                    <input matInput [placeholder]="''" formControlName="fullName">
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'delivery_note.view_order.delivery_info_pick_phone' | transloco }}</mat-label>
                                    <input matInput [placeholder]="''" formControlName="driverPhone">
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'delivery_note.view_order.delivery_info_pick_shipped_by' | transloco }}</mat-label>
                                    <input matInput [placeholder]="''" formControlName="shippedBy">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="w-full mt-2">
                        <div class="text-lg font-bold my-2">
                            {{ 'delivery_note.view_order.member_info_id_card_copy' | transloco }}
                        </div>
                        <asha-upload-file></asha-upload-file>
                    </div>
                    <div>
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'delivery_note.view_order.member_info_note' | transloco }}</mat-label>
                            <textarea matInput [placeholder]="'delivery_note.view_order.member_info_note' | transloco" formControlName="note"></textarea>
                        </mat-form-field>
                    </div>
                </form>

                <div
                    class="w-full p-4 my-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                    <div class="flex flex-row w-full gap-2 mb-6">
                        <div class="w-full text-xl md:text-3xl font-bold">
                            {{ 'delivery_note.view_order.tables_delivery_orders_title' | transloco }}
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                    <form [formGroup]="filterForm">
                        <div class="flex flex-col md:flex-row w-full gap-2 items-end">
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-icon class="icon-size-5 mr-2"
                                        [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                    <input matInput formControlName="in_store"
                                        [placeholder]="'delivery_note.view_order.tables_delivery_orders_search_placeholder' | transloco">
                                </mat-form-field>
                            </div>
                            <div>
                                <button mat-flat-button [color]="'primary'" class="mb-5">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog-6-tooth'"></mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="overflow-x-auto">
                        <table class="whitespace-nowrap w-full">
                            <thead>
                                <tr>
                                    <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_delivery_orders_headers_date' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_delivery_orders_headers_status' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_delivery_orders_headers_warehouse_receipt' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_delivery_orders_headers_customer' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_delivery_orders_headers_address' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_delivery_orders_headers_transport' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_delivery_orders_headers_time_range' | transloco }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of filteredDeliveryOrders; let i = index" class="text-center">
                                    <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.date_in | date: 'dd/MM/yyyy' }}</td>
                                    <td class="px-6 py-3 border border-x-0">
                                        <div *ngIf="list.status == 'pending'"
                                            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-yellow-50 text-yellow-600 border border-yellow-200">
                                            รอดำเนินการ
                                        </div>
                                        <div *ngIf="list.status == 'scan_out'"
                                            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-blue-50 text-blue-600 border border-blue-200">
                                            สแกนออก
                                        </div>
                                        <div *ngIf="list.status == 'evidence'"
                                            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-purple-50 text-purple-600 border border-purple-200">
                                            หลักฐาน
                                        </div>
                                        <div *ngIf="list.status == 'review'"
                                            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-orange-50 text-orange-600 border border-orange-200">
                                            กำลังตรวจสอบ
                                        </div>
                                        <div *ngIf="list.status == 'complete'"
                                            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-green-50 text-green-600 border border-green-200">
                                            เสร็จสมบูรณ์
                                        </div>
                                    </td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.code }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.member_address?.contact_name }}</td>
                                    <td class="px-6 py-3 border border-x-0">
                                        {{ list.member_address?.address }} {{ list.member_address?.sub_district }} {{ list.member_address?.district }} {{ list.member_address?.province }} {{ list.member_address?.postal_code }}
                                    </td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.transport_type }}</td>
                                    <td class="px-6 py-3 border border-x-0">-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div
                    class="w-full p-4 my-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                    <div class="flex flex-row w-full gap-2 mb-6">
                        <div class="w-full text-xl md:text-3xl font-bold">
                            {{ 'delivery_note.view_order.tables_scan_out_title' | transloco }}
                        </div>
                        <button mat-flat-button [color]="'primary'" (click)="opendialogpo()">
                            <mat-icon svgIcon="heroicons_solid:plus-circle" class="text-white"></mat-icon>
                            <span class="ml-2">{{ 'buttons.addItem' | transloco }}</span>
                        </button>
                    </div>
                    <form *ngIf="!showFilterForm" [formGroup]="filterForm">
                        <div class="flex flex-col md:flex-row w-full gap-2 items-end">
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-icon class="icon-size-5 mr-2"
                                        [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                    <input matInput formControlName="in_store"
                                        [placeholder]="'delivery_note.view_order.tables_delivery_orders_search_placeholder' | transloco">
                                </mat-form-field>
                            </div>
                            <div>
                                <button mat-flat-button [color]="'primary'" class="mb-5">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog-6-tooth'"></mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="overflow-x-auto">
                        <table class="whitespace-nowrap w-full">
                            <thead>
                                <tr>
                                    <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_scan_out_headers_delivery_number' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_scan_out_headers_customer_code' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_scan_out_headers_warehouse_receipt' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_scan_out_headers_tracking' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_scan_out_headers_scan_out' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_scan_out_headers_scanned_by' | transloco }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of filteredDeliveryOrders; let i = index" class="text-center">
                                    <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.code ?? '-'
                                        }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.member?.code ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{
                                        list?.code }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.tracking_code ??
                                        '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.scan_out_time
                                        ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.scan_out_by ?? '-' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div
                    class="w-full p-4 my-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                    <div class="flex flex-row w-full gap-2 mb-6">
                        <div class="w-full text-xl md:text-3xl font-bold">
                            {{ 'delivery_note.view_order.tables_tracking_title' | transloco }}
                        </div>
                        <button mat-flat-button [color]="'primary'" (click)="opendialogtracking()">
                            <mat-icon svgIcon="heroicons_solid:plus-circle" class="text-white"></mat-icon>
                            <span class="ml-2">{{ 'buttons.addItem' | transloco }} Tracking</span>
                        </button>
                    </div>
                    <div class="overflow-x-auto">
                        <table class="whitespace-nowrap w-full">
                            <thead>
                                <tr>
                                    <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_tracking_headers_delivery_number' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_tracking_headers_customer_code' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_tracking_headers_tracking' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_tracking_headers_date' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order.tables_tracking_headers_recorded_by' | transloco }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of filteredtracking; let i = index" class="text-center">
                                    <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.order?.name ?? '-'
                                        }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.po_no ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{
                                        getShipmentMethod(list?.delivery_order?.shipped_by) }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.quantity_check ??
                                        '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.product_type?.name
                                        ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.weight ?? '-' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="w-full grid grid-cols-2 gap-4 gap-x-6">
                    <div
                        class="w-full p-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                        <div class="flex flex-row w-full gap-2 mb-6">
                            <div class="w-full text-xl md:text-3xl font-bold">
                                {{ 'delivery_note.view_order.tables_images_car_title' | transloco }}
                            </div>
                            <button mat-flat-button [color]="'primary'" (click)="opendialogimage('รูปรถ')">
                                <mat-icon svgIcon="heroicons_solid:photo" class="text-white"></mat-icon>
                                <span class="ml-2">{{ 'delivery_note.view_order.tables_images_car_add_button' | transloco }}</span>
                            </button>
                        </div>
                        <div class="overflow-x-auto">
                            <table class="whitespace-nowrap w-full">
                                <thead>
                                    <tr>
                                        <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                        <th class="px-6 py-3 border border-x-0">{{ 'delivery_note.view_order.tables_images_car_title' | transloco }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let image of truckImages; let i = index" class="text-center">
                                        <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                        <td class="px-6 py-3 border border-x-0">
                                            <div class="flex flex-row justify-center cursor-pointer">
                                                <ng-container *ngIf="image.image_url; else noImage">
                                                    <div class="relative">
                                                        <img [src]="image.image_url" alt="Image" class="rounded-md w-10 h-15"
                                                            (click)="showPicture(image.image_url)" (error)="onImageError(image.image_url)"
                                                            (load)="onImageLoad(image.image_url)" />
                                                        <ng-container *ngIf="imageLoadedMap[image.image_url] === false">
                                                            <mat-icon class="absolute inset-0 m-auto text-gray-400 text-6xl">
                                                                image_not_supported
                                                            </mat-icon>
                                                        </ng-container>
                                                    </div>
                                                </ng-container>
                                                <ng-template #noImage>
                                                    <mat-icon class="text-gray-400 text-6xl">image_not_supported</mat-icon>
                                                </ng-template>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div
                        class="w-full p-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                        <div class="flex flex-row w-full gap-2 mb-6">
                            <div class="w-full text-xl md:text-3xl font-bold">
                                {{ 'delivery_note.view_order.tables_images_products_title' | transloco }}
                            </div>
                            <button mat-flat-button [color]="'primary'" (click)="opendialogimage('รูปสินค้า')">
                                <mat-icon svgIcon="heroicons_solid:photo" class="text-white"></mat-icon>
                                <span class="ml-2">{{ 'delivery_note.view_order.tables_images_products_add_button' | transloco
                                    }}</span>
                            </button>
                        </div>
                        <div class="overflow-x-auto">
                            <table class="whitespace-nowrap w-full">
                                <thead>
                                    <tr>
                                        <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                        <th class="px-6 py-3 border border-x-0">{{ 'delivery_note.view_order.tables_images_products_title' | transloco }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let image of productImages; let i = index" class="text-center">
                                        <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                        <td class="px-6 py-3 border border-x-0">
                                            <div class="flex flex-row justify-center cursor-pointer">
                                                <ng-container *ngIf="image.image_url; else noImage">
                                                    <div class="relative">
                                                        <img [src]="image.image_url" alt="Image" class="rounded-md w-10 h-15"
                                                            (click)="showPicture(image.image_url)" (error)="onImageError(image.image_url)"
                                                            (load)="onImageLoad(image.image_url)" />
                                                        <ng-container *ngIf="imageLoadedMap[image.image_url] === false">
                                                            <mat-icon class="absolute inset-0 m-auto text-gray-400 text-6xl">
                                                                image_not_supported
                                                            </mat-icon>
                                                        </ng-container>
                                                    </div>
                                                </ng-container>
                                                <ng-template #noImage>
                                                    <mat-icon class="text-gray-400 text-6xl">image_not_supported</mat-icon>
                                                </ng-template>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div
                        class="w-full p-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                        <div class="flex flex-row w-full gap-2 mb-6">
                            <div class="w-full text-xl md:text-3xl font-bold">
                                {{ 'delivery_note.view_order.tables_images_delivery_note_title' | transloco }}
                            </div>
                            <button mat-flat-button [color]="'primary'" (click)="opendialogimage('รูปใบส่งของ')">
                                <mat-icon svgIcon="heroicons_solid:photo" class="text-white"></mat-icon>
                                <span class="ml-2">{{ 'delivery_note.view_order.tables_images_delivery_note_add_button' | transloco
                                    }}</span>
                            </button>
                        </div>
                        <div class="overflow-x-auto">
                            <table class="whitespace-nowrap w-full">
                                <thead>
                                    <tr>
                                        <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                        <th class="px-6 py-3 border border-x-0">{{ 'delivery_note.view_order.tables_images_delivery_note_title' | transloco }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="deliveryNoteImage" class="text-center">
                                        <td class="px-6 py-3 border border-l-0">1</td>
                                        <td class="px-6 py-3 border border-x-0">
                                            <div class="flex flex-row justify-center cursor-pointer">
                                                <ng-container *ngIf="deliveryNoteImage.image_url; else noImage">
                                                    <div class="relative">
                                                        <img [src]="deliveryNoteImage.image_url" alt="Image" class="rounded-md w-10 h-15"
                                                            (click)="showPicture(deliveryNoteImage.image_url)" (error)="onImageError(deliveryNoteImage.image_url)"
                                                            (load)="onImageLoad(deliveryNoteImage.image_url)" />
                                                        <ng-container *ngIf="imageLoadedMap[deliveryNoteImage.image_url] === false">
                                                            <mat-icon class="absolute inset-0 m-auto text-gray-400 text-6xl">
                                                                image_not_supported
                                                            </mat-icon>
                                                        </ng-container>
                                                    </div>
                                                </ng-container>
                                                <ng-template #noImage>
                                                    <mat-icon class="text-gray-400 text-6xl">image_not_supported</mat-icon>
                                                </ng-template>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
