<div class="p-6">
    <h2 class="text-2xl font-semibold mb-4">{{ 'invoice.dialog_edit_price.edit_price' | transloco }}</h2>
    <mat-divider></mat-divider>
    <form [formGroup]="form">
        <div class="flex flex-col gap-2 items-end mt-2">
            <div class="w-full">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                    <mat-label>{{ 'invoice.dialog_edit_price.unit_price_label' | transloco }}</mat-label>
                    <input matInput formControlName="price" type="number" [placeholder]="'invoice.dialog_edit_price.unit_price_label' | transloco" />
                </mat-form-field>
            </div>
            <div class="w-full">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                    <mat-label>{{ 'invoice.dialog_edit_price.calculation_method_label' | transloco }}</mat-label>
                    <mat-select formControlName="payment_status">
                        <mat-option [value]="'cbm'">{{ 'invoice.dialog_edit_price.calculation_method_options_cbm' | transloco }}</mat-option>
                        <mat-option [value]="'kg'">{{ 'invoice.dialog_edit_price.calculation_method_options_kg' | transloco }}</mat-option>
                        <mat-option [value]="'rent_container'">{{ 'invoice.dialog_edit_price.calculation_method_options_rent_container' | transloco }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                    <mat-label>{{ 'invoice.dialog_edit_price.minimum_import_fee_label' | transloco }}</mat-label>
                    <input matInput formControlName="min_price" type="number" [placeholder]="'invoice.dialog_edit_price.minimum_import_fee_label' | transloco" />
                </mat-form-field>
            </div>
        </div>
    </form>
    <div mat-dialog-actions class="flex justify-end border-t-2 mt-2 p-2">
        <button class="px-6 ml-3" mat-flat-button (click)="onClose()">
            {{ 'buttons.cancel' | transloco }}
        </button>
        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
            {{ 'buttons.submit' | transloco }}
        </button>
    </div>
</div>
