<div class="flex flex-col flex-auto justify-start items-center">
    <div class="w-full flex-col justify-between items-center flex overflow-hidden">
        <div class="w-full flex-col justify-start items-start flex">
            <div class="w-full px-10 pt-5 pb-2.5 bg-white justify-between items-center flex">
                <div class="flex flex-col">
                    <div class="flex space-x-2">
                        <button class="md:text-xl font-medium tracking-tight leading-7 sm:leading-10 truncate"
                            [routerLink]="['/delivery_orders']" routerLinkActive="router-link-active">
                            รายการรวมพัสดุ
                        </button>
                        <p class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate">></p>
                        <button
                            class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate text-[#DF0B12]"
                            [routerLink]="['/delivery_orders']" routerLinkActive="router-link-active">
                            รายการพัสดุเข้าคลัง/PO
                        </button>
                    </div>

                    <p class="md:text-2xl text-[#DF0B12] font-bold tracking-tight leading-7 sm:leading-10 truncate">
                        ใบรับเข้าคลังหมายเลข: {{ this.data?.code }}
                    </p>
                </div>
                <div class="justify-end items-center gap-2 flex">
                    <button mat-flat-button [color]="'primary'" (click)="goToEdit()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-square'"></mat-icon>
                        <a class="ml-2">แก้ไขรายการ</a>
                    </button>
                    <button [cdkMenuTriggerFor]="menu" mat-flat-button class="!text-white" [color]="'primary'">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:shopping-bag'"></mat-icon>
                        <div class="flex items-center gap-2">
                            <span class="ml-2"> การจัดการข้อมูล </span>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                        </div>
                    </button>
                    <ng-template #menu>
                        <div class="manage-menu bg-primary" cdkMenu>
                            <button class="manage-menu-item text-white" cdkMenuItem>
                                <mat-icon class="icon-size-5 text-white"
                                    [svgIcon]="'heroicons_solid:document-duplicate'"></mat-icon>
                                <span class="ml-2">Copy to Clipboard</span>
                            </button>
                            <button class="manage-menu-item text-white" cdkMenuItem>
                                <mat-icon class="icon-size-5 text-white"
                                    [svgIcon]="'heroicons_solid:table-cells'"></mat-icon>
                                <span class="ml-2">CSV</span>
                            </button>
                            <button class="manage-menu-item text-white" cdkMenuItem>
                                <mat-icon class="icon-size-5 text-white"
                                    [svgIcon]="'heroicons_solid:table-cells'"></mat-icon>
                                <span class="ml-2">Excel</span>
                            </button>
                            <button class="manage-menu-item text-white" cdkMenuItem>
                                <mat-icon class="icon-size-5 text-white"
                                    [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                                <span class="ml-2">Print</span>
                            </button>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="w-full px-10 flex flex-col gap-2 bg-white ">

                <mat-tab-group class="w-full">
                    <mat-tab label="รายละเอียดใบรับเข้าคลัง/PO">
                        <div class="grid lg:grid-cols-2 gap-4 mt-2">
                            <div>
                                <p class="text-lg font-bold">รายละเอียดทั่วไป</p>
                                <mat-divider></mat-divider>
                                <div class="grid md:grid-cols-2 gap-4 mt-2">
                                    <div><strong>เลขที่ PO:</strong></div>
                                    <div> {{ this.data?.code }} </div>
                                    <div><strong>วันที่นำเข้า:</strong></div>
                                    <div> {{ this.data?.date }} </div>
                                    <div><strong>รหัสลูกค้า:</strong></div>
                                    <div> {{ this.data?.member?.code }} </div>
                                    <div><strong>รหัสตัวแทน:</strong></div>
                                    <div> {{ this.data?.member?.importer_code }} </div>
                                </div>
                            </div>
                            <div>
                                <p class="text-lg font-bold">ข้อมูลการขนส่ง</p>
                                <mat-divider></mat-divider>
                                <div class="grid md:grid-cols-2 gap-4 mt-2">
                                    <div><strong>โกดัง:</strong></div>
                                    <div> {{ this.data?.note }} </div>
                                    <div><strong>ขนส่งโดย:</strong></div>
                                    <div> {{ this.data?.shipping_type === 'Car' ? 'ขนส่งรถ' : 'ขนส่งเรือ' }} </div>
                                    <div><strong>ขนส่งจีน:</strong></div>
                                    <div> {{ this.data?.note }} </div>
                                    <div><strong>REF. ORDER NO:</strong></div>
                                    <div> {{ this.data?.order?.code }} </div>
                                    <div><strong>คนส่งของ:</strong></div>
                                    <div> {{ this.data?.driver_name }}</div>
                                    <div><strong>เบอร์โทร:</strong></div>
                                    <div> {{ this.data?.driver_phone }}</div>
                                </div>
                            </div>
                            <div class="col-span-2 bg-[#fdeaeb] rounded-md p-4">
                                <p class="text-lg font-bold">หมายเหตุ</p>
                                <p>-</p>
                            </div>
                        </div>
                        <div class="flex flex-col w-full gap-6 md:flex-row mt-4">
                            <div class="w-2/3 p-4 border border-gray-300 rounded-lg">
                                <div class="flex flex-row w-full gap-2 mb-2">
                                    <div class="w-full text-3xl font-bold">รายละเอียด Tracking</div>
                                    <div class="flex flex-row justify-end w-full gap-2">
                                        <mat-form-field [formGroup]="filterForm" [ngClass]="formFieldHelpers" class="w-full">
                                            <mat-icon class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                            <input matInput [placeholder]="'ค้นหาด้วย Tracking'" formControlName="name">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <table class="whitespace-nowrap w-full">
                                    <thead>
                                        <tr>
                                            <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                            <th class="px-6 py-3 border border-r-0">วันที่เพิ่ม Tracking</th>
                                            <th class="px-6 py-3 border border-r-0">Tracking / เลขพัสดุ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let track of data.delivery_order_tracks; let i = index" (click)="selectTrack(track)" class="hover:bg-gray-100 cursor-pointer">
                                            <td class="px-6 py-4 text-center border border-l-0">{{ i + 1 }}</td>
                                            <td class="px-6 py-4 text-center border border-r-0">{{ track.created_at | date: 'yyyy-MM-dd' }}</td>
                                            <td class="px-6 py-4 text-center border border-r-0">{{ track.track_no }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="flex flex-col w-1/3 gap-2">
                                <div>
                                    <div class="my-4 text-3xl font-bold">ค่าใช้จ่ายเพิ่มเติม</div>
                                    <mat-divider class="mx-2"></mat-divider>
                                    <div class="bg-[#f2f6fb]">
                                        <div class="flex flex-row gap-4 mt-2 p-2 rounded-lg justify-between" *ngFor="let item of data.delivery_order_add_on_services">
                                            <div><strong>{{ item.add_on_service.name }}</strong></div>
                                            <div >{{ item.price | number:'1.2-2' }} หยวน</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="w-full p-4 my-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                            <div class="flex flex-row w-full gap-2 mb-6">
                                <div class="w-full text-3xl font-bold">รายการผลิตภัณฑ์ใบรับเข้าคลัง / PO</div>
                                <div class="flex flex-row justify-end w-full gap-2">

                                </div>
                            </div>
                            <div class="w-full grid grid-cols-1">
                                <div class="flex flex-col flex-auto w-full overflow-auto bg-card mb-4">
                                    <div class="flex flex-col items-start justify-between w-full">
                                        <form *ngIf="!showFilterForm" [formGroup]="filterForm" class=" w-full">
                                            <div class="flex flex-col md:flex-row w-full gap-2 items-end">
                                                <div class="w-full">
                                                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                                        <input matInput [placeholder]="'ค้นหาด้วย ชื่อผลิตภัณฑ์'"  formControlName="name">
                                                    </mat-form-field>
                                                </div>
                                                <div>
                                                    <button mat-flat-button [color]="'primary'" (click)="openfillter()" class="mb-5">
                                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bars-3'"></mat-icon>
                                                        <span class="ml-2">ค้นหาโดยใช้ตัวกรอง</span>
                                                    </button>
                                                </div>
                                                <div>
                                                    <button mat-flat-button [color]="'primary'" class="mb-5">
                                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog-6-tooth'"></mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <form [formGroup]="filterForm" class="p-4 rounded-md w-full" [@slideToggleFilter]="showFilterForm ? 'open' : 'closed'">
                                            <div>
                                                <h2 class="text-xl font-extrabold leading-7 tracking-tight truncate md:text-xl sm:leading-10">
                                                    ตัวกรองขั้นสูง
                                                </h2>
                                                <mat-divider></mat-divider>
                                            </div>
                                            <div class="flex flex-col w-full gap-x-2 mt-2">
                                                <div class="flex flex-col lg:flex-row w-full gap-2">
                                                    <div class="w-full">
                                                        <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                                            <mat-label>ประเภท</mat-label>
                                                            <mat-select formControlName="type">
                                                                <mat-option *ngFor="let product of product_type" [value]="product.id">{{ product.name }}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="w-full">
                                                        <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                                            <mat-label>ชื่อผลิตภัณฑ์</mat-label>
                                                            <input matInput formControlName="name">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="w-full">
                                                        <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                                            <mat-label>รูปแบบบรรจุภัณฑ์</mat-label>
                                                            <mat-select formControlName="product_type">
                                                                <mat-option *ngFor="let size of standard_size" [value]="size.id">{{ size.name }}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="flex flex-col lg:flex-row w-full gap-2">
                                                    <div class="w-full">
                                                        <asha-select-member (change)="selectMember($event)"></asha-select-member>
                                                    </div>
                                                    <div class="w-full">
                                                        <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                                            <mat-label>โลโก้</mat-label>
                                                            <input matInput formControlName="logo">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="w-full flex justify-end gap-2">
                                                <button mat-flat-button [color]="'primary'" (click)="openfillter()">
                                                    <span class="ml-2">ปิดตัวกรอง</span>
                                                </button>
                                                <button mat-flat-button [color]="'primary'" (click)="clearFilter()">
                                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bars-3'"></mat-icon>
                                                    <span class="ml-2">ล้างตั้งค่าตัวกรอง</span>
                                                </button>
                                                <button mat-flat-button [color]="'primary'" (click)="Filter()">
                                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                                    <span class="ml-2">ค้นหา</span>
                                                </button>
                                            </div>
                                        </form>
                                        <table class="whitespace-nowrap w-full">
                                            <thead>
                                              <tr >
                                                <th rowspan="2" class="px-6 py-3 border border-x-0">รูปสินค้า</th>
                                                <th rowspan="2" class="px-6 py-3 border border-x-0">ประเภท</th>
                                                <th rowspan="2" class="px-6 py-3 border border-x-0">ชื่อผลิตภัณฑ์</th>
                                                <th rowspan="2" class="px-6 py-3 border border-x-0">รูปแบบบรรจุภัณฑ์</th>
                                                <th rowspan="2" class="px-6 py-3 border border-x-0">โลโก้</th>
                                                <th rowspan="2" class="px-6 py-3 border border-x-0">จำนวนลัง</th>
                                                <th rowspan="2" class="px-6 py-3 border border-x-0">จำนวนชิ้น</th>
                                                <th rowspan="2" class="px-6 py-3 border border-x-0">น้ำหนัก (Kg.)</th>
                                                <th colspan="3" class="px-6 py-3 border border-x-0">ขนาด (ซม.)</th>
                                                <th rowspan="2" class="px-6 py-3 border border-x-0">CBM</th>
                                              </tr>
                                              <tr>
                                                <th class="px-6 py-3 border border-x-0">ยาว</th>
                                                <th class="px-6 py-3 border border-x-0">กว้าง</th>
                                                <th class="px-6 py-3 border border-x-0">สูง</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let product of filteredDeliveryOrderLists; let i = index" class="text-center">
                                                <td class="px-6 py-3 border border-x-0">
                                                  <img *ngIf="product.images; else noImage" [src]="product.images[0].image" class="w-16 h-auto rounded">
                                                  <ng-template #noImage>
                                                    <div class="w-16 h-16 bg-[#797979] flex flex-col items-center justify-center text-sm rounded-md">
                                                        <div>
                                                            <mat-icon [svgIcon]="'heroicons_solid:photo'"></mat-icon>
                                                        </div>
                                                        <div>
                                                            No Image
                                                        </div>
                                                    </div>
                                                  </ng-template>
                                                </td>
                                                <td class="px-6 py-3 border border-x-0">{{ product?.product_type_id }}</td>
                                                <td class="px-6 py-3 border border-x-0">{{ product?.product_name }}</td>
                                                <td class="px-6 py-3 border border-x-0">{{ product?.standard_size.name }}</td>
                                                <td class="px-6 py-3 border border-x-0">{{ product?.logo }}</td>
                                                <td class="px-6 py-3 border border-x-0">{{ product?.qty_box }}</td>
                                                <td class="px-6 py-3 border border-x-0">{{ product?.qty }}</td>
                                                <td class="px-6 py-3 border border-x-0">{{ product?.weight }}</td>
                                                <td class="px-6 py-3 border border-x-0">{{ product?.long }}</td>
                                                <td class="px-6 py-3 border border-x-0">{{ product?.width }}</td>
                                                <td class="px-6 py-3 border border-x-0">{{ product?.height }}</td>
                                                <td class="px-6 py-3 border border-x-0">{{ product?.cbm }}</td>
                                              </tr>
                                            </tbody>
                                            <tfoot class="bg-gray-100">
                                              <tr class="text-center">
                                                <td colspan="5" class="px-6 py-3 border border-x-0 text-left"> ผลรวม {{ totallist }} รายการ </td>
                                                <td class="px-6 py-3 border border-x-0">{{ totalBoxes }}</td>
                                                <td class="px-6 py-3 border border-x-0">{{ totalUnits }}</td>
                                                <td class="px-6 py-3 border border-x-0">{{ totalWeight }}</td>
                                                <td colspan="3" class="px-6 py-3 border border-x-0"></td>
                                                <td class="px-6 py-3 border border-x-0">{{ totalCBM }}</td>
                                              </tr>
                                            </tfoot>
                                          </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Barcode">
                        <div
                            class="w-full p-4 my-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                            <div class="flex flex-row w-full gap-2 mb-6">
                                <div class="w-full text-3xl font-bold">PO Barcode</div>
                                <div class="flex flex-row justify-end w-full gap-2">
                                    <button mat-flat-button [color]="'primary'" (click)="goToPrint()">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                                        <a class="ml-2">พิมพ์</a>
                                    </button>
                                </div>
                            </div>
                            <div class="w-full grid grid-cols-1">
                                <div class="flex flex-col flex-auto w-full overflow-auto bg-card mb-4">
                                    <div class="flex flex-col items-start justify-between w-full">
                                        <table class="whitespace-nowrap w-full">
                                            <thead>
                                                <tr >
                                                    <th class="px-6 py-3 border border-x-0 w-10">#</th>
                                                    <th class="px-6 py-3 border border-x-0">Tracking</th>
                                                    <th class="px-6 py-3 border border-x-0">Cargo in</th>
                                                    <th class="px-6 py-3 border border-x-0">Cargo out</th>
                                                    <th class="px-6 py-3 border border-x-0">Cargo thai</th>
                                                    <th class="px-6 py-3 border border-x-0">สถานะ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let product of filteredDeliveryOrderLists; let i = index" class="text-center">
                                                    <td class="px-6 py-3 border border-x-0">{{ i + 1 }}</td>
                                                    <td class="px-6 py-3 border border-x-0">{{ product?.barcode ?? '-'}}</td>
                                                    <td class="px-6 py-3 border border-x-0">{{ product?.date_in ?? '-'}}</td>
                                                    <td class="px-6 py-3 border border-x-0">{{ product?.date_out ?? '-'}}</td>
                                                    <td class="px-6 py-3 border border-x-0">{{ product?.date_thai ?? '-'}}</td>
                                                    <td class="px-6 py-3 border border-x-0">{{ product?.status ?? '-'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
