<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-row justify-between pb-2 items-center">
        <div class="w-full px-5 pt-5 pb-2.5  justify-between items-center flex">
            <div class="flex flex-col">
                <div class="flex space-x-2">
                    <button class="md:text-xl font-medium tracking-tight leading-7 sm:leading-10 truncate"
                        [routerLink]="['/follow-up']" routerLinkActive="router-link-active">
                        Case Follow up
                    </button>
                    <p class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate">></p>
                    <p class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate text-primary">
                        รายการ Follow up
                    </p>
                </div>
                <div class="flex space-x-2">
                    <p class="md:text-3xl font-medium tracking-tight leading-7 sm:leading-10 truncate text-black">
                        รายละเอียด Case
                    </p>
                    <div class="flex items-center space-x-2">
                        <div class="w-4 h-4 rounded-full ring-2" [ngClass]="color('wait')"></div>
                        <span class="text-lg text-gray-700">{{ label('wait') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider class="w-full p-1 mx-5 flex border-t-[1px] border-slate-300"></mat-divider>
    <div class="p-10 bg-white rounded-lg shadow-md m-5">
        <!-- หัวข้อ -->
        <h2 class="text-2xl font-bold mb-4 ">รายละเอียด Case</h2>
        <mat-divider class="w-full p-1 flex border-t-[1px] border-slate-300"></mat-divider>
        <!-- รายละเอียด Case -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6 text-lg">
            <div class="">
                <div class="my-4"><span class="font-semibold">Case No.</span>: <a href="#"
                        class="text-blue-600 hover:underline">CA001</a></div>
                <div class="my-4"><span class="font-semibold">วันที่สร้าง</span>: 2025-06-24, 12:02</div>
                <div class="my-4"><span class="font-semibold">ลูกค้า</span>: <a href="#"
                        class="text-blue-600 hover:underline">AZ9999999999</a></div>
                <div class="my-4"><span class="font-semibold">ลูกค้า</span>: NAME</div>
                <div class="my-4"><span class="font-semibold">ผู้สร้าง</span>: admin_china</div>
                <div class="my-4"><span class="font-semibold">เลขแทรคกิ้งจีน</span>: PH004</div>
                <div class="my-4"><span class="font-semibold">เลขแทรคกิ้งไทย</span>: 0000000</div>
            </div>
            <div>
                <div class="my-4"><span class="font-semibold">เลขอ้างอิง</span>: -</div>
                <div class="my-4"><span class="font-semibold">หัวข้อ CASE</span>: 1111111</div>
                <div class="my-4"><span class="font-semibold">รายละเอียด CASE</span>: 1111111</div>
                <div class="my-4"><span class="font-semibold">ไฟล์แนบ</span>:</div>
                <img src="https://m.media-amazon.com/images/I/81c5ome9NaL.jpg" alt="แนบรูป"
                    class="w-32 h-32 object-cover rounded border" />
            </div>
        </div>

        <!-- สถานะ -->
        <div class="flex flex-col md:flex-row justify-between items-center">
            <h2 class="text-2xl font-bold mb-4 mt-4">สถานะการแก้ไขปัญหา</h2>
            <!-- ฟิลเตอร์สถานะ -->
            <div class="flex items-center mb-4 gap-4">
                <mat-form-field [ngClass]="formFieldHelpers" class="min-w-[200px]">
                    <mat-select placeholder="สถานะ">
                        <mat-option value="close">ปิด Case</mat-option>
                        <mat-option value="pending">กำลังตรวจสอบ</mat-option>
                        <mat-option value="wait">รอรับ Case</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-flat-button color="primary">บันทึก</button>
            </div>

        </div>


        <!-- ตารางสถานะ -->
        <div class="overflow-x-auto">
            <table class="min-w-full border text-lg">
                <thead class="bg-blue-100">
                    <tr>
                        <th class="px-4 py-2 border text-left">วันที่สร้าง</th>
                        <th class="px-4 py-2 border text-left">สถานะ</th>
                        <th class="px-4 py-2 border text-left">ผู้สร้าง</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white">
                        <td class="px-4 py-2 border">2025-06-24, 12:02</td>
                        <td class="px-4 py-2 border flex items-center gap-2 text-blue-600">
                            <div class="flex items-center space-x-2">
                                <div class="w-4 h-4 rounded-full ring-2" [ngClass]="color('pending')"></div>
                                <span class="text-lg text-gray-700">{{ label('pending') }}</span>
                            </div>
                        </td>
                        <td class="px-4 py-2 border">admin_china</td>
                    </tr>
                    <tr class="bg-white">
                        <td class="px-4 py-2 border">2025-06-24, 12:02</td>
                        <td class="px-4 py-2 border flex items-center gap-2 text-orange-600">
                            <div class="flex items-center space-x-2">
                                <div class="w-4 h-4 rounded-full ring-2" [ngClass]="color('wait')"></div>
                                <span class="text-lg text-gray-700">{{ label('wait') }}</span>
                            </div>
                        </td>
                        <td class="px-4 py-2 border">admin_china</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>