<div class="flex flex-col flex-auto justify-start items-center w-full">
    <div class="w-full flex-col justify-between items-center flex overflow-hidden">
        <div class="w-full flex-col justify-start items-start flex">
            <div class="w-full px-10 pt-5 pb-2.5 bg-white justify-between items-center flex">
                <div class="flex flex-col">
                    <div class="flex space-x-2">
                        <button class="md:text-xl font-medium tracking-tight leading-7 sm:leading-10 truncate"
                            [routerLink]="['/delivery-note']" routerLinkActive="router-link-active">
                            เอกสาร
                        </button>
                        <p class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate">></p>
                        <button
                            class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate text-[#DF0B12]"
                            [routerLink]="['/delivery-note']" routerLinkActive="router-link-active">
                            ใบส่งของ
                        </button>
                    </div>

                    <p class="md:text-2xl text-[#DF0B12] font-bold tracking-tight leading-7 sm:leading-10 truncate">
                        สร้างใบส่งของ
                    </p>
                </div>
                <div class="justify-end items-center gap-2 flex">
                    <button mat-flat-button [color]="'primary'" (click)="edit()">
                        <mat-icon [svgIcon]="'feather:save'" class=""></mat-icon>
                        <span class="ml-2">แก้ไข</span>
                    </button>
                </div>
            </div>

            <div class="w-full px-10 flex flex-col gap-2 bg-white">
                <div class="flex flex-col md:flex-row items-center justify-between w-full">
                    <!-- Step 1 -->
                    <div class="flex flex-col items-center">
                        <div class="w-12 h-12 rounded-full bg-red-600 flex items-center justify-center mb-3">
                            <mat-icon class="text-white" svgIcon="heroicons_solid:user"></mat-icon>
                        </div>
                        <p class="text-red-600 font-medium text-center whitespace-nowrap">ข้อมูลการจัดส่ง</p>
                    </div>

                    <!-- Connecting Line 1 -->
                    <div class="hidden md:flex w-full max-w-xs items-center justify-center">
                        <div class="h-0.5 bg-red-600 w-full"></div>
                    </div>

                    <!-- Step 2 -->
                    <div class="flex flex-col items-center mt-6 md:mt-0">
                        <div class="w-12 h-12 rounded-full bg-red-600 flex items-center justify-center mb-3">
                            <mat-icon class="text-white" svgIcon="heroicons_solid:qr-code"></mat-icon>
                        </div>
                        <p class="text-red-600 font-medium text-center whitespace-nowrap">สแกนขาออก</p>
                    </div>

                    <!-- Connecting Line 2 -->
                    <div class="hidden md:block w-full max-w-xs">
                        <div class="h-0.5 bg-red-600"></div>
                    </div>

                    <!-- Step 3 -->
                    <div class="flex flex-col items-center mt-6 md:mt-0">
                        <div class="w-12 h-12 rounded-full bg-red-600 flex items-center justify-center mb-3">
                            <mat-icon class="text-white" svgIcon="heroicons_solid:photo"></mat-icon>
                        </div>
                        <p class="text-red-600 font-medium text-center whitespace-nowrap">รูปภาพอ้างอิง</p>
                    </div>

                    <!-- Connecting Line 3 -->
                    <div class="hidden md:block w-full max-w-xs">
                        <div class="h-0.5 bg-red-600"></div>
                    </div>

                    <!-- Step 4 -->
                    <div class="flex flex-col items-center mt-6 md:mt-0">
                        <div class="w-12 h-12 rounded-full bg-red-600 flex items-center justify-center mb-3">
                            <mat-icon class="text-white" svgIcon="heroicons_solid:clipboard"></mat-icon>
                        </div>
                        <p class="text-red-600 font-medium text-center whitespace-nowrap">ตรวจสอบข้อมูล</p>
                    </div>
                </div>

                <div class="w-full flex-col gap-2 flex mt-5">
                    <div class="w-full flex-col flex">
                        <div class="text-lg font-bold">ข้อมูลสมาชิก</div>
                        <mat-divider></mat-divider>
                    </div>
                    <div class="w-full grid grid-flow-row grid-cols-2 gap-2 ">
                        <div class="w-full flex flex-row">
                            <div class="font-bold w-full"> รหัสลูกค้า (ที่อยู่จัดส่ง):</div>
                            <div class="w-full"> {{ this.data?.code ?? '-' }} </div>
                        </div>
                        <div class="w-full flex flex-row">
                            <div class="font-bold w-full"> วันที่เข้ามารับ:</div>
                            <div class="w-full"> {{ this.data?.date ?? '-' }} </div>
                        </div>
                        <div class="col-span-2 bg-[#fdeaeb] rounded-md p-4 flex flex-row">
                            <p class="font-bold text-red-600">หมายเหตุ</p>
                            <p class="text-red-600"> {{ data?.remark ?? '-' }} </p>
                        </div>
                    </div>
                </div>

                <div class="w-full flex-col gap-2 flex mt-5" *ngIf="status_type ==='send'">
                    <div class="w-full flex-col flex">
                        <div class="text-lg font-bold">ข้อมูลการจัดส่ง</div>
                        <mat-divider></mat-divider>
                    </div>
                    <div class="w-full grid grid-flow-row grid-cols-2 lg:grid-cols-4 gap-2 justify-between">
                        <div class="font-bold w-full"> ชื่อนามสกุล:</div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full"> เบอร์โทรคนขับ:</div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full"> เลขที่บัตรใบขับขี่:</div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full"> ทะเบียนรถ:</div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full"> ขนส่งโดย:</div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full"> พื่นที่:</div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full"> รูปบัตรประชาชน:</div>
                        <div class="w-full">
                            <img [src]="this.data?.idCardImage ?? 'assets/images/item/ID_card.png'" (error)="this.src='assets/images/item/ID_card.png'" alt="ID Card" />
                        </div>
                    </div>
                </div>

                <div class="w-full flex-col gap-2 flex mt-5" *ngIf="status_type ==='pick'">
                    <div class="w-full flex-col flex">
                        <div class="text-lg font-bold">ข้อมูลการจัดส่ง</div>
                        <mat-divider></mat-divider>
                    </div>
                    <div class="w-full grid grid-flow-row grid-cols-2 lg:grid-cols-4 gap-2 justify-between">
                        <div class="font-bold w-full"> ผู้รับสินค้า:</div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full"> เบอร์โทร:</div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full"> รูปภาพบัตรประชาชน:</div>
                        <div class="w-full">
                            <img [src]="this.data?.idCardImage ?? 'assets/ID_card.png'" (error)="this.src='assets/ID_card.png'" alt="ID Card" />
                        </div>
                        <div class="font-bold w-full"> ขนส่งโดย:</div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                    </div>
                </div>

                <div class="w-full p-4 my-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                    <div class="flex flex-row w-full gap-2 mb-6">
                        <div class="w-full text-3xl font-bold">รายการใบส่งของ</div>
                        <mat-divider></mat-divider>
                    </div>
                    <form *ngIf="!showFilterForm" [formGroup]="filterForm">
                        <div class="flex flex-col md:flex-row w-full gap-2 items-end">
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-icon class="icon-size-5 mr-2"
                                        [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                    <input matInput formControlName="in_store"
                                        [placeholder]="'ค้นหาด้วยรหัสใบรับเข้าคลัง'">
                                </mat-form-field>
                            </div>
                            <div>
                                <button mat-flat-button [color]="'primary'" class="mb-5">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog-6-tooth'"></mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="overflow-x-auto">
                        <table class="whitespace-nowrap w-full">
                            <thead>
                                <tr>
                                    <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                    <th class="px-6 py-3 border border-x-0">วันที่</th>
                                    <th class="px-6 py-3 border border-x-0">สถานะ</th>
                                    <th class="px-6 py-3 border border-x-0">รหัสใบรับเข้าคลัง</th>
                                    <th class="px-6 py-3 border border-x-0">ลูกค้า</th>
                                    <th class="px-6 py-3 border border-x-0">ที่อยู่</th>
                                    <th class="px-6 py-3 border border-x-0">ขนส่ง</th>
                                    <th class="px-6 py-3 border border-x-0">ช่วงเวลา</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of filteredDeliveryOrders; let i = index" class="text-center">
                                    <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.order?.name ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.code ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ getShipmentMethod(list?.delivery_order?.shipped_by) }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.quantity_check ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.product_type?.name ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.weight ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.cbm ?? '-' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="w-full p-4 my-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                    <div class="flex flex-row w-full gap-2 mb-6">
                        <div class="w-full text-3xl font-bold">สแกนขาออก</div>
                    </div>
                    <form *ngIf="!showFilterForm" [formGroup]="filterForm">
                        <div class="flex flex-col md:flex-row w-full gap-2 items-end">
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-icon class="icon-size-5 mr-2"
                                        [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                    <input matInput formControlName="in_store"
                                        [placeholder]="'ค้นหาด้วยรหัสใบรับเข้าคลัง'">
                                </mat-form-field>
                            </div>
                            <div>
                                <button mat-flat-button [color]="'primary'" class="mb-5">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog-6-tooth'"></mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="overflow-x-auto">
                        <table class="whitespace-nowrap w-full">
                            <thead>
                                <tr>
                                    <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                    <th class="px-6 py-3 border border-x-0">หมายเลขจัดส่ง</th>
                                    <th class="px-6 py-3 border border-x-0">รหัสลูกค้า</th>
                                    <th class="px-6 py-3 border border-x-0">รหัสใบรับเข้าคลัง</th>
                                    <th class="px-6 py-3 border border-x-0">Tracking</th>
                                    <th class="px-6 py-3 border border-x-0">สแกนออก</th>
                                    <th class="px-6 py-3 border border-x-0">ผู้ดำเนินการสแกน</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of filteredOut; let i = index" class="text-center">
                                    <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.order?.name ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.code ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ getShipmentMethod(list?.delivery_order?.shipped_by) }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.quantity_check ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.product_type?.name ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.weight ?? '-' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="w-full p-4 my-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                    <div class="flex flex-row w-full gap-2 mb-6">
                        <div class="w-full text-3xl font-bold">รายการ Tracking</div>
                    </div>
                    <div class="overflow-x-auto">
                        <table class="whitespace-nowrap w-full">
                            <thead>
                                <tr>
                                    <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                    <th class="px-6 py-3 border border-x-0">หมายเลขจัดส่ง</th>
                                    <th class="px-6 py-3 border border-x-0">รหัสลูกค้า</th>
                                    <th class="px-6 py-3 border border-x-0">Tracking</th>
                                    <th class="px-6 py-3 border border-x-0">Tracking</th>
                                    <th class="px-6 py-3 border border-x-0">วันที่</th>
                                    <th class="px-6 py-3 border border-x-0">ผู้บันทึก</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of filteredtracking; let i = index" class="text-center">
                                    <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.order?.name ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.code ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ getShipmentMethod(list?.delivery_order?.shipped_by) }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.quantity_check ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.product_type?.name ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.weight ?? '-' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="w-full grid grid-cols-2 gap-4 gap-x-6">
                    <div class="w-full p-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                        <div class="flex flex-row w-full gap-2 mb-6">
                            <div class="w-full text-3xl font-bold">รูปรถ</div>
                        </div>
                        <div class="overflow-x-auto">
                            <table class="whitespace-nowrap w-full">
                                <thead>
                                    <tr>
                                        <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                        <th class="px-6 py-3 border border-x-0">รูปรถ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let list of filteredtracking; let i = index" class="text-center">
                                        <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                        <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.order?.name ?? '-' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="w-full p-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                        <div class="flex flex-row w-full gap-2 mb-6">
                            <div class="w-full text-3xl font-bold">รูปสินค้า</div>
                        </div>
                        <div class="overflow-x-auto">
                            <table class="whitespace-nowrap w-full">
                                <thead>
                                    <tr>
                                        <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                        <th class="px-6 py-3 border border-x-0">รูปสินค้า</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let list of filteredtracking; let i = index" class="text-center">
                                        <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                        <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.order?.name ?? '-' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="w-full p-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                        <div class="flex flex-row w-full gap-2 mb-6">
                            <div class="w-full text-3xl font-bold">รูปใบส่งของ</div>
                        </div>
                        <div class="overflow-x-auto">
                            <table class="whitespace-nowrap w-full">
                                <thead>
                                    <tr>
                                        <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                        <th class="px-6 py-3 border border-x-0">รูปใบส่งของ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let list of filteredtracking; let i = index" class="text-center">
                                        <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                        <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.order?.name ?? '-' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-span-2 bg-[#fdeaeb] rounded-md p-4 flex flex-col mb-6" >
                    <p class="font-bold text-red-600">หมายเหตุ</p>
                    <p class="text-red-600"> {{ data?.remark ?? '-' }} </p>
                </div>
            </div>
        </div>
    </div>
</div>
