<div class="flex flex-col flex-auto justify-start items-center w-full">
    <div class="w-full flex-col justify-between items-center flex overflow-hidden">
        <div class="w-full flex-col justify-start items-start flex">
            <div class="w-full px-4 md:px-10 pt-5 pb-2.5 bg-white justify-between items-center flex">
                <div class="flex flex-col">
                    <div class="flex space-x-2">
                        <button class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate"
                            [routerLink]="['/delivery-note']" routerLinkActive="router-link-active">
                            {{ 'delivery_note.document' | transloco }}
                        </button>
                        <p class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate">></p>
                        <button
                            class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate text-[#DF0B12]"
                            [routerLink]="['/delivery-note']" routerLinkActive="router-link-active">
                            {{ 'delivery_note.title' | transloco }}
                        </button>
                    </div>

                    <p class="md:text-2xl text-[#DF0B12] font-bold tracking-tight leading-7 sm:leading-10 truncate">
                        {{ 'delivery_note.view_order_after.create' | transloco }}
                    </p>
                </div>
                <div class="justify-end items-center gap-2 flex">
                    <button mat-flat-button [color]="'primary'" (click)="edit()">
                        <mat-icon [svgIcon]="'mat_outline:edit_note'" class=""></mat-icon>
                        <span class="ml-2">{{ 'buttons.edit' | transloco }}</span>
                    </button>
                </div>
            </div>

            <div class="w-full px-4 md:px-10 flex flex-col gap-2 bg-white">
                <div class="flex flex-row items-center justify-between w-full">
                    <!-- Step 1 -->
                    <div class="flex flex-col items-center mt-6 md:mt-0">
                        <div class="w-12 h-12 rounded-full bg-red-600 flex items-center justify-center mb-3">
                            <mat-icon class="text-white" svgIcon="heroicons_solid:user"></mat-icon>
                        </div>
                        <p class="text-red-600 font-medium text-center whitespace-nowrap">
                            {{ 'delivery_note.view_order_after.steps_delivery_info' | transloco }}
                        </p>
                    </div>

                    <!-- Connecting Line 1 -->
                    <div class="hidden md:flex w-full max-w-xs items-center justify-center">
                        <div class="h-0.5 bg-red-600 w-full"></div>
                    </div>

                    <!-- Step 2 -->
                    <div class="flex flex-col items-center mt-6 md:mt-0">
                        <div class="w-12 h-12 rounded-full bg-red-600 flex items-center justify-center mb-3">
                            <mat-icon class="text-white" svgIcon="heroicons_solid:qr-code"></mat-icon>
                        </div>
                        <p class="text-red-600 font-medium text-center whitespace-nowrap">
                            {{ 'delivery_note.view_order_after.steps_scan_out' | transloco }}
                        </p>
                    </div>

                    <!-- Connecting Line 2 -->
                    <div class="hidden md:block w-full max-w-xs">
                        <div class="h-0.5 bg-red-600"></div>
                    </div>

                    <!-- Step 3 -->
                    <div class="flex flex-col items-center mt-6 md:mt-0">
                        <div class="w-12 h-12 rounded-full bg-red-600 flex items-center justify-center mb-3">
                            <mat-icon class="text-white" svgIcon="heroicons_solid:photo"></mat-icon>
                        </div>
                        <p class="text-red-600 font-medium text-center whitespace-nowrap">
                            {{ 'delivery_note.view_order_after.steps_reference_images' | transloco }}
                        </p>
                    </div>

                    <!-- Connecting Line 3 -->
                    <div class="hidden md:block w-full max-w-xs">
                        <div class="h-0.5 bg-red-600"></div>
                    </div>

                    <!-- Step 4 -->
                    <div class="flex flex-col items-center mt-6 md:mt-0">
                        <div class="w-12 h-12 rounded-full bg-red-600 flex items-center justify-center mb-3">
                            <mat-icon class="text-white" svgIcon="heroicons_solid:clipboard"></mat-icon>
                        </div>
                        <p class="text-red-600 font-medium text-center whitespace-nowrap">
                            {{ 'delivery_note.view_order_after.steps_verify_info' | transloco }}
                        </p>
                    </div>
                </div>

                <div class="w-full flex-col gap-2 flex mt-5">
                    <div class="w-full flex-col flex">
                        <div class="text-lg font-bold">
                            {{ 'delivery_note.view_order_after.member_info_title' | transloco }}
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                    <div class="w-full flex flex-col md:grid md:grid-cols-2 gap-2 ">
                        <div class="w-full flex flex-row">
                            <div class="font-bold w-full">
                                {{ 'delivery_note.view_order_after.member_info_customer_code' | transloco }}
                            </div>
                            <div class="w-full"> {{ this.data?.code ?? '-' }} </div>
                        </div>
                        <div class="w-full flex flex-row">
                            <div class="font-bold w-full">
                                {{ 'delivery_note.view_order_after.member_info_pickup_date' | transloco }}
                            </div>
                            <div class="w-full"> {{ this.data?.date ?? '-' }} </div>
                        </div>
                        <div class="col-span-2 bg-[#fdeaeb] rounded-md p-4 flex flex-row">
                            <p class="font-bold text-red-600">
                                {{ 'delivery_note.view_order_after.member_info_note' | transloco }}
                            </p>
                            <p class="text-red-600"> {{ data?.remark ?? '-' }} </p>
                        </div>
                    </div>
                </div>

                <div class="w-full flex-col gap-2 flex mt-5" *ngIf="status_type ==='send'">
                    <div class="w-full flex-col flex">
                        <div class="text-lg font-bold">
                            {{ 'delivery_note.view_order_after.delivery_info_title' | transloco }}
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                    <div class="w-full flex flex-col md:grid md:grid-cols-2 lg:grid-cols-4 gap-2 justify-between">
                        <div class="font-bold w-full">
                            {{ 'delivery_note.view_order_after.delivery_info_send_full_name' | transloco }}
                        </div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full">
                            {{ 'delivery_note.view_order_after.delivery_info_send_driver_phone' | transloco }}
                        </div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full">
                            {{ 'delivery_note.view_order_after.delivery_info_send_license_number' | transloco }}
                        </div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full">
                            {{ 'delivery_note.view_order_after.delivery_info_send_plate_number' | transloco }}
                        </div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full">
                            {{ 'delivery_note.view_order_after.delivery_info_send_shipped_by' | transloco }}
                        </div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full">
                            {{ 'delivery_note.view_order_after.delivery_info_send_area' | transloco }}
                        </div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full">
                            {{ 'delivery_note.view_order_after.delivery_info_send_id_card_image' | transloco }}
                        </div>
                        <div class="w-full">
                            <img [src]="this.data?.idCardImage ?? 'assets/images/item/ID_card.png'"
                                (error)="this.src='assets/images/item/ID_card.png'" alt="ID Card" />
                        </div>
                    </div>
                </div>

                <div class="w-full flex-col gap-2 flex mt-5" *ngIf="status_type ==='pick'">
                    <div class="w-full flex-col flex">
                        <div class="text-lg font-bold">
                            {{ 'delivery_note.view_order_after.delivery_info_title' | transloco }}
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                    <div class="w-full flex flex-col md:grid md:grid-cols-2 lg:grid-cols-4 gap-2 justify-between">
                        <div class="font-bold w-full">
                            {{ 'delivery_note.view_order_after.delivery_info_pick_receiver' | transloco }}
                        </div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full">
                            {{ 'delivery_note.view_order_after.delivery_info_pick_phone' | transloco }}
                        </div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                        <div class="font-bold w-full">
                            {{ 'delivery_note.view_order_after.delivery_info_pick_id_card_image' | transloco }}
                        </div>
                        <div class="w-full">
                            <img [src]="this.data?.idCardImage ?? 'assets/ID_card.png'"
                                (error)="this.src='assets/ID_card.png'" alt="ID Card" />
                        </div>
                        <div class="font-bold w-full">
                            {{ 'delivery_note.view_order_after.delivery_info_pick_shipped_by' | transloco }}
                        </div>
                        <div class="w-full"> {{ this.data?.name ?? '-' }} </div>
                    </div>
                </div>

                <div
                    class="w-full p-4 my-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                    <div class="flex flex-row w-full gap-2 mb-6">
                        <div class="w-full text-xl md:text-3xl font-bold">
                            {{ 'delivery_note.view_order_after.tables_delivery_orders_title' | transloco }}
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                    <form *ngIf="!showFilterForm" [formGroup]="filterForm">
                        <div class="flex flex-col md:flex-row w-full gap-2 items-end">
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-icon class="icon-size-5 mr-2"
                                        [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                    <input matInput formControlName="in_store"
                                        [placeholder]="'delivery_note.view_order_after.tables_delivery_orders_search_placeholder' | transloco">
                                </mat-form-field>
                            </div>
                            <div>
                                <button mat-flat-button [color]="'primary'" class="mb-5">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog-6-tooth'"></mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="overflow-x-auto">
                        <table class="whitespace-nowrap w-full">
                            <thead>
                                <tr>
                                    <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_delivery_orders_headers_date' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_delivery_orders_headers_status' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_delivery_orders_headers_warehouse_receipt' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_delivery_orders_headers_customer' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_delivery_orders_headers_address' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_delivery_orders_headers_transport' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_delivery_orders_headers_time_range' | transloco }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of filteredDeliveryOrders; let i = index" class="text-center">
                                    <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.order?.name ?? '-'
                                        }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.po_no ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{
                                        getShipmentMethod(list?.delivery_order?.shipped_by) }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.quantity_check ??
                                        '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.product_type?.name
                                        ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.weight ?? '-' }}
                                    </td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.cbm ?? '-' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div
                    class="w-full p-4 my-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                    <div class="flex flex-row w-full gap-2 mb-6">
                        <div class="w-full text-xl md:text-3xl font-bold">
                            {{ 'delivery_note.view_order_after.tables_scan_out_title' | transloco }}
                        </div>
                    </div>
                    <form *ngIf="!showFilterForm" [formGroup]="filterForm">
                        <div class="flex flex-col md:flex-row w-full gap-2 items-end">
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-icon class="icon-size-5 mr-2"
                                        [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                    <input matInput formControlName="in_store"
                                        [placeholder]="'delivery_note.view_order_after.tables_delivery_orders_search_placeholder' | transloco">
                                </mat-form-field>
                            </div>
                            <div>
                                <button mat-flat-button [color]="'primary'" class="mb-5">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog-6-tooth'"></mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="overflow-x-auto">
                        <table class="whitespace-nowrap w-full">
                            <thead>
                                <tr>
                                    <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_scan_out_headers_delivery_number' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_scan_out_headers_customer_code' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_scan_out_headers_warehouse_receipt' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_scan_out_headers_tracking' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_scan_out_headers_scan_out' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_scan_out_headers_scanned_by' | transloco }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of filteredOut; let i = index" class="text-center">
                                    <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.order?.name ?? '-'
                                        }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.po_no ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{
                                        getShipmentMethod(list?.delivery_order?.shipped_by) }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.quantity_check ??
                                        '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.product_type?.name
                                        ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.weight ?? '-' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div
                    class="w-full p-4 my-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                    <div class="flex flex-row w-full gap-2 mb-6">
                        <div class="w-full text-xl md:text-3xl font-bold">
                            {{ 'delivery_note.view_order_after.tables_tracking_title' | transloco }}
                        </div>
                    </div>
                    <div class="overflow-x-auto">
                        <table class="whitespace-nowrap w-full">
                            <thead>
                                <tr>
                                    <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_tracking_headers_delivery_number' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_tracking_headers_customer_code' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_tracking_headers_tracking' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_tracking_headers_date' | transloco }}
                                    </th>
                                    <th class="px-6 py-3 border border-x-0">
                                        {{ 'delivery_note.view_order_after.tables_tracking_headers_recorded_by' | transloco }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of filteredtracking; let i = index" class="text-center">
                                    <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.order?.name ?? '-'
                                        }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.po_no ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{
                                        getShipmentMethod(list?.delivery_order?.shipped_by) }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.quantity_check ??
                                        '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.product_type?.name
                                        ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.weight ?? '-' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="w-full grid grid-cols-2 gap-4 gap-x-6">
                    <div
                        class="w-full p-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                        <div class="flex flex-row w-full gap-2 mb-6">
                            <div class="w-full text-xl md:text-3xl font-bold">
                                {{ 'delivery_note.view_order_after.tables_images_car' | transloco }}
                            </div>
                        </div>
                        <div class="overflow-x-auto">
                            <table class="whitespace-nowrap w-full">
                                <thead>
                                    <tr>
                                        <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                        <th class="px-6 py-3 border border-x-0">
                                            {{ 'delivery_note.view_order_after.tables_images_car' | transloco }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let list of filteredtracking; let i = index" class="text-center">
                                        <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                        <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.order?.name ?? '-' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div
                        class="w-full p-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                        <div class="flex flex-row w-full gap-2 mb-6">
                            <div class="w-full text-xl md:text-3xl font-bold">
                                {{ 'delivery_note.view_order_after.tables_images_products' | transloco }}
                            </div>
                        </div>
                        <div class="overflow-x-auto">
                            <table class="whitespace-nowrap w-full">
                                <thead>
                                    <tr>
                                        <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                        <th class="px-6 py-3 border border-x-0">
                                            {{ 'delivery_note.view_order_after.tables_images_products' | transloco }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let list of filteredtracking; let i = index" class="text-center">
                                        <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                        <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.order?.name ??
                                            '-' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div
                        class="w-full p-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                        <div class="flex flex-row w-full gap-2 mb-6">
                            <div class="w-full text-xl md:text-3xl font-bold">
                                {{ 'delivery_note.view_order_after.tables_images_delivery_note' | transloco }}
                            </div>
                        </div>
                        <div class="overflow-x-auto">
                            <table class="whitespace-nowrap w-full">
                                <thead>
                                    <tr>
                                        <th class="px-6 py-3 border border-l-0 w-10">#</th>
                                        <th class="px-6 py-3 border border-x-0">
                                            {{ 'delivery_note.view_order_after.tables_images_delivery_note' | transloco }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let list of filteredtracking; let i = index" class="text-center">
                                        <td class="px-6 py-3 border border-l-0">{{ i + 1 }}</td>
                                        <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.order?.name ??
                                            '-' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-span-2 bg-[#fdeaeb] rounded-md p-4 flex flex-col mb-6">
                    <p class="font-bold text-red-600">
                        {{ 'delivery_note.view_order_after.member_info_note' | transloco }}
                    </p>
                    <p class="text-red-600"> {{ data?.remark ?? '-' }} </p>
                </div>
            </div>
        </div>
    </div>
</div>
