<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto sm:p-10 bg-card m-4 p-4 rounded-md">
        <form [formGroup]="form">
            <div class="flex flex-row justify-between pb-2 items-center">
                <div class="flex flex-col">
                    <div class="flex space-x-2">
                        <p
                            class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate text-primary-500">
                            {{ 'order_products.order_create.title' | transloco }}
                        </p>
                    </div>

                    <div class="flex flex-row gap-4">
                        <p
                            class="md:text-2xl text-primary-500 font-bold tracking-tight leading-7 sm:leading-10 truncate">
                            {{ 'order_products.order_create.add_item' | transloco }}
                        </p>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row gap-2">
                    <button type="button" [matBadge]="cart.length" matBadgePosition="above before" mat-flat-button
                        class="!text-white" [color]="'accent'" (click)="openCart()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:shopping-cart'"></mat-icon>
                        <span class="ml-2"> {{ 'order_products.order_create.shopping_cart' | transloco }}</span>
                    </button>

                    <button type="submit" mat-flat-button class="!text-white" [color]="'primary'" (click)="submit()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                        <span class="ml-2"> {{ 'order_products.order_create.place_order' | transloco }}</span>
                    </button>
                </div>
            </div>

            <div class="border-b-2 w-full"></div>

            <div class="flex flex-col mt-4">
                <h3 class="text-2xl font-bold">{{ 'order_products.order_create.customer_info' | transloco }}</h3>
                <div class="border-b-2 w-full my-4"></div>
                <div class="flex-auto">
                    <div class="flex flex-col md:flex mb-6">
                        <div class="flex flex-row w-full gap-2">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:w-4/4">
                                <mat-label>{{ 'order_products.order_create.fields.customer' | transloco }}</mat-label>
                                <input matInput [formControl]="memberFilter" [matAutocomplete]="memberAutoComplete"
                                    #customerInput [autocomplete]="'off'"
                                    [placeholder]="'order_products.order_create.fields.customer_placeholder' | transloco" />
                                <mat-autocomplete #memberAutoComplete="matAutocomplete" [autoActiveFirstOption]="true"
                                    (optionSelected)="onSelectMember($event.option.value)">
                                    <mat-option *ngFor="let item of filterMember | async" [value]="item">
                                        {{item.fullname}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>

                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'order_products.order_create.fields.importer_code' | transloco
                                    }}</mat-label>
                                <input matInput [formControlName]="'importer_code'">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-row w-full gap-2">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'order_products.order_create.fields.address' | transloco }}</mat-label>
                                <textarea matInput [formControlName]="'address'"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="w-full grid grid-flow-row grid-cols-2 gap-2">
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'order_products.order_create.fields.province' | transloco
                                        }}</mat-label>
                                    <mat-select [formControlName]="'province'" (selectionChange)="onProvinceChange()">
                                        <mat-option *ngFor="let province of provinces$ | async"
                                            [value]="province.provinceNameTh">
                                            {{ province.provinceNameTh }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'order_products.order_create.fields.district' | transloco
                                        }}</mat-label>
                                    <mat-select [formControlName]="'district'" (selectionChange)="onDistrictChange()">
                                        <mat-option *ngFor="let district of districts$ | async"
                                            [value]="district.districtNameTh">
                                            {{ district.districtNameTh }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'order_products.order_create.fields.sub_district' | transloco
                                        }}</mat-label>
                                    <mat-select [formControlName]="'sub_district'"
                                        (selectionChange)="onSubDistrictChange()">
                                        <mat-option *ngFor="let subdistrict of subdistricts$ | async"
                                            [value]="subdistrict.subdistrictNameTh">
                                            {{ subdistrict.subdistrictNameTh }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'order_products.order_create.fields.postal_code' | transloco
                                        }}</mat-label>
                                    <input [formControlName]="'postal_code'" matInput
                                        [placeholder]="'order_products.order_create.fields.postal_code' | transloco">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-row w-full gap-2">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'order_products.order_create.fields.phone' | transloco }}</mat-label>
                                <input matInput [formControlName]="'phone'">
                            </mat-form-field>
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'order_products.order_create.fields.email' | transloco }}</mat-label>
                                <input matInput [formControlName]="'email'">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-row w-full gap-2">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'order_products.order_create.fields.note' | transloco }}</mat-label>
                                <textarea matInput [formControlName]="'note'"></textarea>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col md:flex-row w-full gap-2">
                            <mat-form-field class="w-full md:w-1/4">
                                <mat-label>{{ 'order_products.order_create.fields.payment_term' | transloco
                                    }}</mat-label>
                                <mat-select [formControlName]="'payment_term'">
                                    <mat-option value="1">{{
                                        'order_products.order_create.fields.payment_options.single' | transloco
                                        }}</mat-option>
                                    <mat-option value="2">{{
                                        'order_products.order_create.fields.payment_options.multiple' | transloco
                                        }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full md:w-1/4">
                                <mat-label>{{ 'order_products.order_create.fields.shipping_type' | transloco
                                    }}</mat-label>
                                <mat-select [formControlName]="'shipping_type'">
                                    <mat-option value="Car">{{ 'order_products.order_create.fields.shipping_options.car'
                                        | transloco
                                        }}</mat-option>
                                    <mat-option value="Ship">{{
                                        'order_products.order_create.fields.shipping_options.ship' | transloco
                                        }}</mat-option>
                                    <mat-option value="Air">{{ 'order_products.order_create.fields.shipping_options.air'
                                        | transloco
                                        }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full md:w-1/4">
                                <mat-label>{{ 'order_products.order_create.fields.bill_vat_type' | transloco
                                    }}</mat-label>
                                <mat-select [formControlName]="'bill_vat'">
                                    <mat-option value="Y">{{ 'order_products.order_create.fields.bill_vat.vat' |
                                        transloco
                                        }}</mat-option>
                                    <mat-option value="N">{{ 'order_products.order_create.fields.bill_vat.non_vat' |
                                        transloco
                                        }}</mat-option>

                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col mt-4">
                <div class="flex justify-between items-center">
                    <h3 class="text-2xl font-bold">{{ 'order_products.order_create.product_info' | transloco }}</h3>
                    <button type="button" mat-flat-button class="!text-white" [color]="'primary'"
                        (click)="openDialogNewProduct()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                        <span class="ml-2"> {{ 'order_products.order_create.add_product' | transloco }}</span>
                    </button>
                </div>
                <div class="border-b-2 w-full my-4"></div>
                <div class="flex flex-col md:flex-row items-center gap-2">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>{{ 'order_products.order_create.search_product' | transloco }}</mat-label>
                        <input matInput [formControl]="search">
                    </mat-form-field>

                    <mat-form-field class="w-full md:w-40">
                        <mat-label>{{ 'order_products.order_create.fields.service' | transloco }}</mat-label>
                        <mat-select [(value)]="selectedService">
                            <mat-option value="1688">{{ 'order_products.order_create.fields.service_options.1688' |
                                transloco
                                }}</mat-option>
                            <mat-option value="taobao">{{ 'order_products.order_create.fields.service_options.taobao' |
                                transloco
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button type="button" mat-flat-button class="!text-white" [color]="'primary'"
                        (click)="clickSearchProduct()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                        <span class="ml-2"> {{ 'order_products.order_create.search_product' | transloco }}</span>
                    </button>
                </div>

                <div class="overflow-x-auto">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef> {{ 'order_products.order_create.product_table.title'
                                | transloco }}
                            </th>
                            <td mat-cell *matCellDef="let element"
                                class="whitespace-normal break-words px-4 py-2 text-sm text-gray-700 text-left">
                                <p class="font-medium text-black text-[13px] leading-5 mb-1">
                                    {{ element?.title }}
                                </p>
                                <p class="text-[11px] text-slate-400 leading-4">
                                    ({{ element?.title | translateText:'zh-CN':'th' | async }})
                                </p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="pic_url">
                            <th mat-header-cell *matHeaderCellDef> {{ 'order_products.order_create.product_table.image'
                                | transloco }}
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <img *ngIf="element.pic_url" [src]="element.pic_url" alt="Product Image"
                                    class="w-24 h-24">
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef> {{ 'order_products.order_create.product_table.price'
                                | transloco }} ¥
                            </th>
                            <td mat-cell *matCellDef="let element"> {{ element.price | number:'1.2-2' }} </td>
                        </ng-container>

                        <ng-container matColumnDef="detail_url">
                            <th mat-header-cell *matHeaderCellDef> {{
                                'order_products.order_create.product_table.details' | transloco }}
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a *ngIf="element.detail_url" [href]="element.detail_url" target="_blank">{{
                                    'order_products.order_create.product_table.view' | transloco }}</a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> {{ 'order_products.order_create.product_table.action'
                                | transloco }}
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <button type="button" mat-button (click)="viewDetail(element.num_iid)">{{
                                    'order_products.order_create.product_table.view_details' | transloco }}</button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <mat-paginator [length]="totalItems" [pageSize]="20" showFirstLastButtons></mat-paginator>
            </div>
        </form>
    </div>
</div>

<ng-template #pic let-data="adtData">
    <div class="flex flex-row justify-center">
        <img [src]="data?.product_image" alt="Image" class="rounded-md w-20 text-center" />
    </div>
</ng-template>

<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999" fixed [mode]="'over'" [name]="'settingsDrawer'"
    [position]="'right'" [(opened)]="drawerOpened" #settingsDrawer>

    <div class="flex flex-col w-full overflow-auto bg-card">
        <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
            <mat-icon class="icon-size-7 text-current" [svgIcon]="'heroicons_solid:cog-8-tooth'"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">
                {{ 'order_products.order_create.cart.title' | transloco }}
            </div>
            <button type="button" class="ml-auto" mat-icon-button (click)="drawerOpened = false">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>

        <div class="flex flex-col p-6">
            @for (item of cart; track $index) {
            <div class="flex flex-col w-full">
                <div class="flex justify-end mb-2">
                    <button type="button" mat-stroked-button [color]="'warn'" (click)="removeFromCart(item)">
                        <span class=""> {{ 'buttons.delete' | transloco }}</span>
                    </button>
                </div>
                <div class="flex flex-row gap-5 mb-4">
                    <div
                        class="w-20 h-20 relative rounded-lg overflow-hidden flex items-center justify-center bg-gray-100 text-gray-400">
                        <!-- ถ้าไม่มีรูป -->
                        <ng-container *ngIf="!item?.product_image || item.imageError; else hasImage">
                            <span class="text-xs">No image</span>
                        </ng-container>

                        <!-- ถ้ามีรูป -->
                        <ng-template #hasImage>
                            <img class="w-full h-full object-cover" [src]="item?.product_image" alt="Image"
                                (error)="onImageError(item)" />
                        </ng-template>
                    </div>

                    <div class="flex flex-col w-3/4">
                        <div class="flex">{{item?.product_name}}</div>
                        <div class="flex flex-row justify-around items-center">
                            <button type="button" class="" mat-icon-button (click)="decreaseQuantity(item)">
                                <mat-icon svgIcon="heroicons_outline:minus-small"></mat-icon>
                            </button>
                            <mat-label>{{ item?.product_qty}}</mat-label>
                            <button type="button" class="" mat-icon-button (click)="increaseQuantity(item)">

                                <mat-icon svgIcon="heroicons_outline:plus-small"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
            }
        </div>
    </div>
</fuse-drawer>