<div class="mx-auto bg-white rounded-lg w-full">
    <h1 mat-dialog-title class="px-0 pb-1 mb-2 text-xl font-semibold" *ngIf="type !== 'QR' ">{{
        'deposit_pay_products.dialog_update_payment.record_payment' | transloco }}</h1>
    <h1 mat-dialog-title class="px-0 pb-1 mb-2 text-xl font-semibold" *ngIf="type == 'QR' ">{{
        'deposit_pay_products.dialog_update_payment.deposit_product_payment' | transloco }}</h1>
    <!-- {{ order | json }} -->
    <form [formGroup]="form">
        <div class="space-y-3">
            <div class="flex justify-between">
                <span>{{ 'deposit_pay_products.dialog_update_payment.product_deposit_fee' | transloco }}:</span>
                <span>{{ this.data.value.amount ?? 0 }}</span>
            </div>

            <div class="flex justify-between">
                <span>{{ 'deposit_pay_products.dialog_update_payment.deposit_service_fee' | transloco }}:</span>
                <span>{{ this.data.value.fee  ?? 0 }}</span>
            </div>

            <!-- Total Amount -->
            <div class="flex justify-between font-bold">
                <span>{{ 'deposit_pay_products.dialog_update_payment.total_payment_amount' | transloco }}:</span>
                <span>{{ this.form.value.total_price ?? 0 }}</span>
            </div>

            <mat-divider class="my-2"></mat-divider>

            <!-- Date & Time -->
            <div *ngIf="type !== 'QR'">
                <label class="block text-sm font-medium">{{
                    'deposit_pay_products.dialog_update_payment.transfer_datetime' | transloco }}</label>
                <input [formControlName]="'transfer_at'" type="datetime-local" class="w-full px-3 py-2 border rounded-lg">
            </div>

            <!-- Payment Proof -->
            <div class="flex flex-col justify-center">
                <label class="w-full block font-bold">{{
                    'deposit_pay_products.dialog_update_payment.attach_transfer_proof' | transloco }}</label>
                <!-- <asha-image-upload class="flex w-full justify-center"></asha-image-upload> -->
                <!-- <div class="flex items-center gap-2">
                    <input type="text" placeholder="วางลิงก์ของคุณที่นี่"
                        class="w-full px-3 py-2 border rounded-lg">
                    <span>{{ 'lables.or' | transloco }}</span>
                    <input type="file" (change)="onFileSelect($event)" class="border px-3 py-2 rounded-lg">
                </div> -->
                <div class="flex flex-row w-full gap-4">
                    <div class="flex flex-col w-1/2 md:flex">
                        <div class="md:w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <!-- <mat-label>วางลิ้งของคุณที่นี่</mat-label> -->
                                <input matInput [placeholder]="'lables.paste_your_link' | transloco "
                                    formControlName="image_slip_url">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <p>{{ 'lables.or' | transloco }}</p>
                    </div>
                    <div class="flex flex-col w-1/2 md:flex">
                        <div class="md:w-full">
                            <!-- การลากไฟล์หรือเลือกไฟล์ -->
                            <label for="fileInput"
                                class="block p-4 text-sm text-center text-gray-600 bg-gray-100 border-2 border-red-500 border-dashed rounded-lg cursor-pointer">
                                {{ 'lables.drag_or_select_file' | transloco }}
                                <span class="font-medium text-red-500">{{ 'lables.select_from_existing' | transloco
                                    }}</span>
                                <input type="file" id="fileInput" class="hidden" (change)="onFilesSelected($event)" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row w-full gap-4">
                    <div class="flex flex-col w-full md:flex">
                        <div class="md:w-full">
                            <!-- แสดงไฟล์ที่เลือก -->
                            <div *ngIf="uploadedFiles.length > 0" class="space-y-4">
                                <div *ngFor="let file of uploadedFiles; let i = index"
                                    class="flex items-center p-4 space-x-4 border border-gray-300 rounded-lg bg-gray-50">
                                    <!-- รูปตัวอย่าง -->
                                    <img [src]="file.imagePreview" alt="Preview"
                                        class="object-cover w-16 h-16 border border-gray-300 rounded-md" />

                                    <!-- รายละเอียดไฟล์ -->
                                    <div class="flex-1">
                                        <p class="text-sm font-medium text-gray-700 truncate">{{ file.name }}</p>
                                        <p class="text-xs text-gray-500">{{ file.size }} kb</p>
                                    </div>

                                    <!-- ปุ่มลบ -->
                                    <button
                                        class="flex items-center justify-center w-8 h-8 text-gray-500 bg-gray-200 rounded-full hover:bg-red-100 hover:text-red-500"
                                        (click)="removeFile(i)">
                                        ✕
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full" *ngIf="type == 'QR' ">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>{{ 'deposit_pay_products.dialog_update_payment.note' | transloco }}</mat-label>
                        <input matInput [placeholder]="'deposit_pay_products.dialog_update_payment.note' | transloco" formControlName="note">
                    </mat-form-field>
                </div>
            </div>

            <!-- Buttons -->
            <div mat-dialog-actions class="flex justify-end border-t-2 pt-4">
                <div class="flex flex-row w-full justify-between items-center">
                    <div class="flex justify-between text-red-500 font-bold space-x-2">
                        <span>{{ this.form.value.total_price | number:'1.2-2' }}</span>
                        <span class="text-black font-semibold"> {{ 'deposit_pay_products.dialog_update_payment.net_payment' | transloco }}</span>
                    </div>
                    <div>
                        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
                            {{ 'buttons.submit' | transloco }}
                        </button>
                        <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onClose()">
                            {{ 'buttons.cancel' | transloco }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
