<div class="flex flex-col">
    <mat-toolbar class="flex justify-between">
        <span class="example-spacer"></span>

        <div>
            <h1 mat-dialog-title class="mb-4 text-xl font-semibold" *ngIf="this.data?.type === 'NEW'">เพิ่มข้อมูล</h1>
            <h1 mat-dialog-title class="mb-4 text-xl font-semibold" *ngIf="this.data?.type === 'EDIT'">แก้ไขข้อมูล</h1>
        </div>

        <button mat-icon-button mat-dialog-close class="example-icon " aria-label="Example icon-button with menu icon">
            <mat-icon svgIcon="heroicons_outline:x-mark"></mat-icon>
        </button>
    </mat-toolbar>
    <div class="flex flex-col justify-between">
        <div mat-dialog-content class="flex justify-center w-full">
            <form class="flex flex-col w-full md:max-w-[712px] mt-8 p-8 pb-4 bg-card rounded-2xl"
                [formGroup]="form">

                <div class="grid w-full gap-3 ">
                    <div class="w-full mb-4">
                        <mat-form-field class="flex-auto w-full " subscriptSizing="fixed">
                            <mat-label>ชื่อแบนเนอร์</mat-label>
                            <input matInput [formControlName]="'title'" required [placeholder]="'ระบุชื่อแบนเนอร์'">
                            <mat-error>Required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="w-full mb-4">
                        <mat-slide-toggle [formControlName]="'isShow'" [color]="'primary'">แสดง</mat-slide-toggle>

                    </div>
                </div>
                <div class="flex justify-center">
                    <asha-image-upload [initial]="item?.imageUrl" (uploadSuccess)="uploadSuccess($event)">
                    </asha-image-upload>
                </div>
            </form>
        </div>
        <div class="bottom-0 flex justify-between w-full px-8 py-5 mt-8 bg-white border-t dark:bg-gray-700 ">
            <div mat-dialog-actions class="flex justify-end">
                <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
                    {{ 'buttons.submit' | transloco }}
                </button>
                <button class="px-6 ml-3" mat-flat-button [color]="'warn'" mat-dialog-close>
                    {{ 'buttons.cancel' | transloco }}
                </button>
            </div>
        </div>
    </div>
</div>
