<div class="w-full">
    @if (data.action == 'NEW') {
    <h1 mat-dialog-title class="mb-4 pb-4 text-xl font-semibold border-b-2">{{ 'buttons.addItem' | transloco }}</h1>
    }
    @if (data.action == 'EDIT') {
    <h1 mat-dialog-title class="mb-4 pb-4 text-xl font-semibold border-b-2">{{ 'buttons.edit_entry' | transloco }}</h1>
    }
    <div mat-dialog-content class="md:max-h-180">
        <form [formGroup]="form">
            <div class="flex-auto">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                    <mat-label>URL (Uniform Resource Locator)</mat-label>
                    <input matInput [placeholder]="'URL'" formControlName="url">
                </mat-form-field>

                <div class="w-full">
                    <mat-label class="text-default">{{ 'banner_ads_header.image_column2' | transloco }}</mat-label>
                    <asha-upload-file [existingImage]="form.get('icon').value"
                        (filesChanged)="onFilesChanged($event)"></asha-upload-file>
                </div>

            </div>
            <div mat-dialog-actions class="flex justify-end border-t-2 pt-4">
                <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onClose()">
                    {{ 'buttons.cancel' | transloco }}
                </button>
                <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
                    {{ 'buttons.save' | transloco }}
                </button>
            </div>
        </form>
    </div>
</div>
