<div class="flex flex-col flex-auto justify-start items-center w-full">
    <div class="w-full flex-col justify-between items-center flex overflow-hidden">
        <div class="w-full flex-col justify-start items-start flex">
            <div class="w-full px-4 md:px-10 pt-5 pb-2.5 bg-white justify-between items-center flex">
                <div class="flex flex-col">
                    <div class="flex space-x-2">
                        <button class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate"
                            [routerLink]="['/member']" routerLinkActive="router-link-active">
                            {{ 'member.member_list' | transloco }}
                        </button>
                        <p class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate">></p>
                        <button
                            class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate text-[#DF0B12]"
                            [routerLink]="['/member']" routerLinkActive="router-link-active">
                            {{ 'member.members' | transloco }}
                        </button>
                    </div>

                    <p class="md:text-2xl text-[#DF0B12] font-bold tracking-tight leading-7 sm:leading-10 truncate"
                        *ngIf="this.type !== 'EDIT'">
                        {{ 'member.form.create_member_list' | transloco }}
                    </p>
                    <p class="md:text-2xl text-[#DF0B12] font-bold tracking-tight leading-7 sm:leading-10 truncate"
                        *ngIf="this.type === 'EDIT'">
                        {{ 'member.form.edit_member_list' | transloco }}
                    </p>
                </div>
                <div class="justify-end items-center gap-2 flex flex-col md:flex-row">
                    <div class="border border-black rounded-md">
                        <button mat-flat-button (click)="Close()" class="hover-effect">
                            <mat-icon svgIcon="feather:trash"></mat-icon>
                            <span class="ml-2">{{ 'buttons.cancel' | transloco }}</span>
                        </button>
                    </div>
                    <button mat-flat-button [color]="'primary'" class="!text-white" (click)="Submit()">
                        <mat-icon svgIcon="mat_outline:save"></mat-icon>
                        <span class="ml-2">{{ 'buttons.save' | transloco }}</span>
                    </button>
                </div>
            </div>
            <div class="w-full px-4 md:px-10 flex flex-col gap-2 bg-white " [formGroup]="form">
                <div class="w-full flex-col gap-2 flex mt-5">
                    <div class="w-full flex-col flex">
                        <div class="text-lg font-bold">{{ 'member.form.member_details' | transloco }}</div>
                        <mat-divider></mat-divider>
                    </div>
                    <div class="w-full flex flex-col md:grid md:grid-cols-2 gap-x-2 ">
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.importer_code_login' | transloco }}</mat-label>
                                <input matInput [placeholder]="'member.form.importer_code' | transloco" formControlName="importer_code"
                                ashaUpperCase>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.customer_type' | transloco }}</mat-label>
                                <mat-select formControlName="member_type">
                                    <mat-option value="บุคคลทั่วไป">{{ 'member.form.general_person' | transloco
                                        }}</mat-option>
                                    <mat-option value="นิติบุคคล">{{ 'member.form.legal_entity' | transloco
                                        }}</mat-option>
                                    <mat-option value="ตัวแทน">{{ 'member.form.agent' | transloco }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.member_under_agent' | transloco }}</mat-label>
                                <input matInput [placeholder]="''" formControlName="referrer">
                            </mat-form-field>
                        </div>
                        <!-- <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>กลุ่มลูกค้า</mat-label>
                                <mat-select >
                                    <mat-option value="in">นำเข้า</mat-option>
                                    <mat-option value="deposit">ฝากส่ง</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> -->
                        <!-- <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>ค่าขนส่ง</mat-label>
                                <mat-select >
                                    <mat-option value="transpot1">transpot1</mat-option>
                                    <mat-option value="transpot2">transpot2</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> -->
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.transport_type' | transloco }}</mat-label>
                                <mat-select formControlName="transport_rate_id">
                                    <mat-option [value]="item.id" *ngFor="let item of transportType; let i = index">{{item.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full" *ngIf="this.type === 'NEW'">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.password' | transloco }}</mat-label>
                                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix (click)="togglePasswordVisibility('password')">
                                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="w-full" *ngIf="this.type === 'NEW'">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.confirm_password' | transloco }}</mat-label>
                                <input matInput [type]="hideConfirmPassword ? 'password' : 'text'"
                                    formControlName="confirmPassword">
                                <button mat-icon-button matSuffix (click)="togglePasswordVisibility('confirmPassword')">
                                    <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                    </div>
                </div>
                <div class="w-full flex-col flex mt-5">
                    <div class="w-full flex-col flex mb-2">
                        <div class="text-lg font-bold">{{ 'member.form.personal_information' | transloco }}</div>
                        <mat-divider></mat-divider>
                    </div>
                    <div class="w-full flex flex-col-reverse md:flex-row gap-2 ">
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.first_name' | transloco }}</mat-label>
                                <input matInput [placeholder]="'member.form.first_name' | transloco"
                                    formControlName="fname">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.last_name' | transloco }}</mat-label>
                                <input matInput [placeholder]="'member.form.last_name' | transloco"
                                    formControlName="lname">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.gender' | transloco }}</mat-label>
                                <mat-select formControlName="gender">
                                    <mat-option value="male">{{ 'member.form.male' | transloco }}</mat-option>
                                    <mat-option value="female">{{ 'member.form.female' | transloco }}</mat-option>
                                    <mat-option value="other">{{ 'member.form.other' | transloco }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="w-full flex flex-col md:grid md:grid-cols-2 gap-x-2 ">
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.phone_number' | transloco }}</mat-label>
                                <input matInput [placeholder]="'member.form.phone_number'" formControlName="phone">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.backup_phone' | transloco }}</mat-label>
                                <input matInput [placeholder]="'member.form.backup_phone'">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.language' | transloco }}</mat-label>
                                <input matInput [placeholder]="'member.form.language' | transloco">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.birth_date' | transloco }}</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="birth_date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="w-full mb-4" *ngIf="this.type === 'EDIT'">
                        <div class="flex flex-row justify-between mb-2">
                            <mat-label class="font-semibold">{{ 'member.form.address' | transloco }}</mat-label>
                            <button mat-flat-button [color]="'primary'" (click)="openDialogNew()">
                                <span class="">{{ 'member.form.add_address' | transloco }}</span>
                            </button>
                        </div>
                        <div class="overflow-x-auto w-full">
                            <table class=" whitespace-nowrap w-full">
                                <thead class="">
                                    <tr>
                                        <th class="px-6 py-3 tracking-wider border border-l-0 w-10">#</th>
                                        <th class="px-6 py-3 text-left tracking-wider border border-r-0">
                                            {{ 'member.form.address_details' | transloco }}
                                        </th>
                                        <th class="px-6 py-3 text-left tracking-wider border border-r-0">{{
                                            'member.form.sub_district' | transloco }}</th>
                                        <th class="px-6 py-3 text-left tracking-wider border border-r-0">{{
                                            'member.form.district' | transloco }}</th>
                                        <th class="px-6 py-3 text-left tracking-wider border border-r-0">{{
                                            'member.form.province' | transloco }}</th>
                                        <th class="px-6 py-3 text-left tracking-wider border border-r-0">{{
                                            'member.form.postal_code' | transloco }}
                                        </th>
                                        <th class="px-6 py-3 text-left tracking-wider border border-r-0">{{
                                            'member.form.manage' | transloco }}</th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    <tr *ngFor="let item of this.data?.ship_address; let i = index">
                                        <td class="px-6  text-center border border-l-0 w-1/12">{{ i+ 1}}</td>
                                        <td class="px-6  border border-r-0 w-2/12">{{item?.address}}</td>
                                        <td class="px-6  border border-r-0 w-2/12">{{item?.sub_district}}</td>
                                        <td class="px-6  border border-r-0 w-2/12">{{item?.district}}</td>
                                        <td class="px-6  border border-r-0 w-2/12">{{item?.province}}</td>
                                        <td class="px-6  border border-r-0 w-2/12">{{item?.postal_code}}</td>
                                        <td class="px-6  border border-r-0 w-1/12 text center">
                                            <button mat-icon-button [color]="'primary'" [matMenuTriggerFor]="menu">
                                                <mat-icon class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:cog-8-tooth'"></mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item (click)="openDialogEdit(item)">
                                                    <mat-icon [svgIcon]="'mat_outline:edit_note'"></mat-icon>
                                                    <span>{{ 'buttons.edit' | transloco }}</span>
                                                </button>
                                                <mat-divider></mat-divider>
                                                <button mat-menu-item (click)="clickDeleteAddress(item.id)">
                                                    <mat-icon [svgIcon]="'feather:trash'"></mat-icon>
                                                    <span>{{ 'buttons.delete' | transloco }}</span>
                                                </button>
                                            </mat-menu>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="w-full" *ngIf="this.type !== 'EDIT'">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'member.form.address_details' | transloco }}</mat-label>
                            <textarea matInput [placeholder]="'member.form.address_details' | transloco"
                                formControlName="address"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="w-full grid grid-flow-row grid-cols-2 gap-2 " *ngIf="this.type !== 'EDIT'">
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.province' | transloco }}</mat-label>
                                <mat-select formControlName="province_code" (selectionChange)="onProvinceChange()">
                                    <mat-option *ngFor="let province of provinces" [value]="province.provinceCode">
                                        {{ province.provinceNameTh }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.district' | transloco }}</mat-label>
                                <mat-select formControlName="district_code" (selectionChange)="onDistrictChange()">
                                    <mat-option *ngFor="let district of districts" [value]="district.districtCode">
                                        {{ district.districtNameTh }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.sub_district' | transloco }}</mat-label>
                                <mat-select formControlName="sub_district" (selectionChange)="onSubDistrictChange()">
                                    <mat-option *ngFor="let subdistrict of subdistricts"
                                        [value]="subdistrict.subdistrictNameTh">
                                        {{ subdistrict.subdistrictNameTh }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.postal_code' | transloco }}</mat-label>
                                <input matInput [placeholder]="'member.form.postal_code' | transloco"
                                    formControlName="postal_code">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="w-full flex flex-col md:flex-row gap-2 ">
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.convenient_time' | transloco }}</mat-label>
                                <mat-select formControlName="avaliable_time">
                                    <mat-option value="morning">{{ 'member.form.morning' | transloco }}</mat-option>
                                    <mat-option value="afternoon">{{ 'member.form.afternoon' | transloco }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.credit' | transloco }}</mat-label>
                                <input matInput [placeholder]="''" formControlName="credit_limit">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.loan_amount' | transloco }}</mat-label>
                                <input matInput [placeholder]="''" formControlName="loan_amount">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="w-full flex flex-row gap-2 ">
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.thai_transport' | transloco }}</mat-label>
                                <mat-select formControlName="transport_thai_master_id">
                                    <mat-option *ngFor="let transport of transport" [value]="transport.id">{{
                                        transport.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.bus_route' | transloco }}</mat-label>
                                <input matInput [placeholder]="'สายรถ'" formControlName="bus_route">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="w-full mt-4">
                        <mat-label>{{ 'member.form.location_sign' | transloco }}</mat-label>
                        <div class="flex flex-row gap-4">
                            <div class="mb-4 p-4 border rounded-lg shadow-sm relative w-80">
                                <mat-radio-button name="location" value="work"
                                    class="absolute top-0 right-0 m-2"></mat-radio-button>
                                <span>{{ 'member.form.workplace' | transloco }}</span>
                                <p class="sub-text">{{ 'member.form.workplace_sign' | transloco }}</p>
                            </div>
                            <div class="mb-4 p-4 border rounded-lg shadow-sm relative w-80">
                                <mat-radio-button name="location" value="home"
                                    class="absolute top-0 right-0 m-2"></mat-radio-button>
                                <span>{{ 'member.form.home' | transloco }}</span>
                                <p class="sub-text">{{ 'member.form.home_sign' | transloco }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full flex-col gap-2 flex mt-5">
                    <div class="w-full flex-col flex">
                        <div class="text-lg font-bold">{{ 'member.form.additional_contact' | transloco }}</div>
                        <mat-divider></mat-divider>
                    </div>
                    <div class="w-full flex flex-col md:grid md:grid-cols-2 gap-x-2 ">
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>Email</mat-label>
                                <input matInput [placeholder]="'Email'" formControlName="email">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>Facebook</mat-label>
                                <input matInput [placeholder]="'Facebook'" formControlName="facebook">
                            </mat-form-field>
                        </div>

                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>Line ID</mat-label>
                                <input matInput [placeholder]="'Line ID'" formControlName="line_id">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.wechat' | transloco }}</mat-label>
                                <input matInput [placeholder]="'WeChat'" formControlName="wechat">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-label>{{ 'member.form.notifications' | transloco }}</mat-label>
                            <div class="flex flex-row gap-2">
                                <div class="border rounded-lg p-2">
                                    <mat-checkbox class="text-white" [color]="'primary'" formControlName="notify_sms">
                                        {{ 'member.form.sms' | transloco }}
                                    </mat-checkbox>
                                </div>
                                <div class="border rounded-lg p-2">
                                    <mat-checkbox class="text-white" [color]="'primary'" formControlName="notify_line">
                                        Line
                                    </mat-checkbox>
                                </div>
                                <div class="border rounded-lg p-2">
                                    <mat-checkbox class="text-white" [color]="'primary'" formControlName="notify_email">
                                        Email
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full flex-col gap-2 flex mt-5">
                    <div class="w-full flex-row flex justify-between items-end">
                        <div class="text-lg font-bold">{{ 'member.form.legal_person' | transloco }}</div>
                        <button mat-icon-button (click)="toggleMemberType()">
                            <mat-icon>{{ (this.form.get('member_type').value === 'นิติบุคคล' ||
                                this.form.get('member_type').value === 'ตัวแทน') ? 'arrow_drop_down' : 'arrow_drop_up'
                                }}</mat-icon>
                        </button>
                    </div>
                    <mat-divider></mat-divider>

                    <div
                        [@slideToggle]="(this.form.get('member_type').value === 'นิติบุคคล' || this.form.get('member_type').value === 'ตัวแทน') ? 'open' : 'closed'">
                        <div class="w-full flex flex-col md:grid md:grid-cols-2 gap-x-2 ">
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'member.form.legal_entity_name' | transloco }}</mat-label>
                                    <input matInput [placeholder]="'ชื่อนิติบุคคล'" formControlName="comp_name">
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'member.form.tax_id' | transloco }}</mat-label>
                                    <input matInput [placeholder]="'เลขผู้เสียภาษี'" formControlName="comp_tax">
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>{{ 'member.form.phone_number' | transloco }}</mat-label>
                                    <input matInput [placeholder]="'เบอร์โทร'" formControlName="comp_phone">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="w-full flex-col gap-2 flex mt-5">
                    <div class="w-full flex-row flex justify-between items-end">
                        <div class="text-lg font-bold">ตัวแทน</div>
                        <button mat-icon-button (click)="toggleMemberType()">
                            <mat-icon>{{ (this.member.form.get('member_type').value === 'ตัวแทน') ? 'arrow_drop_down' :
                                'arrow_drop_up' }}</mat-icon>
                        </button>
                    </div>
                    <mat-divider></mat-divider>

                    <div [@slideToggle]="(this.member.form.get('member_type').value === 'ตัวแทน') ? 'open' : 'closed'">
                        <div class="w-full grid grid-flow-row grid-cols-2 gap-x-2 ">
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>ชื่อตัวแทน</mat-label>
                                    <input matInput [placeholder]="'ชื่อนิติบุคคล'" formControlName="cargo_name">
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>website</mat-label>
                                    <input matInput [placeholder]="'เลขผู้เสียภาษี'" formControlName="cargo_website">
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="flex w-full flex-col justify-center gap-2">
                            <div class="flex w-full justify-center">
                                <asha-image-upload [initial]="null" (uploadSuccess)="uploadSuccess($event)"
                                    accept="image/*"></asha-image-upload>
                            </div>

                            <div class="flex justify-center w-full">
                                <img [src]="imageUrl" alt="" class="w-auto">
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="w-full flex-col gap-2 flex mt-5">
                    <div class="w-full flex-col flex">
                        <div class="text-lg font-bold">{{ 'member.form.responsible_information' | transloco }}</div>
                        <mat-divider></mat-divider>
                    </div>
                    <div class="w-full grid grid-flow-row grid-cols-2 gap-x-2 ">
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.supervisor' | transloco }}</mat-label>
                                <input matInput formControlName="responsible_person" [placeholder]="''">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>{{ 'member.form.sale' | transloco }}</mat-label>
                                <input matInput formControlName="responsible_sale" [placeholder]="''">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'member.form.notes' | transloco }}</mat-label>
                            <textarea matInput [placeholder]="'หมายเหตุ'"
                                formControlName="responsible_remark"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div class="w-full flex-col gap-2 flex mt-5">
                    <div class="w-full flex-col flex">
                        <div class="text-lg font-bold">{{ 'member.form.discovery_channels' | transloco }}</div>
                        <mat-divider></mat-divider>
                    </div>
                    <div class="flex flex-col md:flex-row gap-2">
                        <div class="p-2">
                            <mat-checkbox class="text-white" [color]="'primary'" formControlName="found_via_facebook">
                                Facebook
                            </mat-checkbox>
                        </div>
                        <div class="p-2">
                            <mat-checkbox class="text-white" [color]="'primary'" formControlName="found_via_line">
                                Line
                            </mat-checkbox>
                        </div>
                        <div class="p-2">
                            <mat-checkbox class="text-white" [color]="'primary'" formControlName="found_via_google">
                                Google
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
                <div class="w-full flex-col gap-2 flex mt-5">
                    <div class="w-full flex-col flex">
                        <div class="text-lg font-bold">{{ 'member.form.priority_services' | transloco }}</div>
                        <mat-divider></mat-divider>
                    </div>
                    <div class="flex flex-col md:flex-row gap-2 mb mb-4">
                        <div class="border rounded-lg p-2">
                            <mat-checkbox class="text-white" [color]="'primary'"
                                formControlName="priority_update_tracking">
                                {{ 'member.form.status_update_tracking' | transloco }}
                            </mat-checkbox>
                        </div>
                        <div class="border rounded-lg p-2">
                            <mat-checkbox class="text-white" [color]="'primary'"
                                formControlName="priority_package_protection">
                                {{ 'member.form.package_protection' | transloco }}
                            </mat-checkbox>
                        </div>
                        <div class="border rounded-lg p-2">
                            <mat-checkbox class="text-white" [color]="'primary'"
                                formControlName="priority_order_system">
                                {{ 'member.form.order_system' | transloco }}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>