<div class="overflow-y-auto flex flex-col w-full">
    <div class="flex flex-row items-start justify-between w-full">
        <h1 mat-dialog-title class="px-0 pb-1 mb-2 text-xl font-semibold">
            อัปเดตสถานะ</h1>
    </div>
    <!-- <h1 mat-dialog-title class="mb-4 text-xl font-semibold" *ngIf="this.data?.type === 'EDIT'">แก้ไขค่าบริการ</h1> -->
    <form [formGroup]="form" class="flex flex-col w-full overflow-scroll">
        <div mat-dialog-content class="px-0 overflow-y-auto border-t-2 md:max-h-180">
            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                <mat-label>สถานะที่ต้องการอัปเดต</mat-label>
                <mat-select formControlName="product_type_id">
                    <mat-option *ngFor="let status of status" [value]="status.name">{{ status.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div mat-dialog-actions class="flex justify-end pt-4 border-t-2">
            <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
                ตกลง
            </button>
            <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onClose()">
                ยกเลิก
            </button>
        </div>

    </form>
</div>
