<div class="flex flex-col items-center justify-start flex-auto ">
    <div class="flex flex-col items-center justify-between w-full overflow-hidden">
        <div class="flex flex-col items-start justify-start w-full">
            <div class="w-full px-10 pt-5 pb-2.5 bg-white justify-between items-center flex">
                <div class="flex flex-col">
                    <p class="md:text-2xl text-black font-bold tracking-tight leading-7 sm:leading-10 truncate">
                        ตั้งค่าข้อมูลแอปพลิเคชัน
                    </p>
                </div>
                <div class="flex items-center justify-end gap-2">
                    <button mat-flat-button [color]="'warn'" (click)="backTo()">
                        <span class="">ยกเลิก</span>
                    </button>
                    <button mat-flat-button [color]="'primary'" (click)="Submit()">
                        <span class="">บันทึก</span>
                    </button>
                </div>
            </div>
            <div class="flex flex-col w-full px-10 pb-5 bg-white" [formGroup]="form">
                <div class="w-full">
                    <div class="flex flex-col w-full gap-x-2 m-4">
                        <mat-label>นโยบายความเป็นส่วนตัว</mat-label>
                        <quill-editor class="w-full" formControlName="policy" [modules]="editorModules"
                            placeholder="เขียนข้อความของคุณที่นี่...">
                        </quill-editor>
                    </div>
                </div>
                <div class="w-full">
                    <div class="flex flex-col w-full gap-x-2 m-4">
                        <mat-label>ข้อตกลงและเงื่อนไข</mat-label>
                        <quill-editor class="w-full" formControlName="term_and_condition" [modules]="editorModules"
                            placeholder="เขียนข้อความของคุณที่นี่...">
                        </quill-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
