<div class="md:max-w-lg">
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="this.data?.type === 'NEW'">แก้ไขค่าบริการ</h1>
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="this.data?.type === 'EDIT'">แก้ไขค่าบริการ</h1>
    <form [formGroup]="form">
        <div mat-dialog-content class="overflow-y-auto md:max-h-180 border-t-2">
            <div class="flex-auto">
                <div class="flex flex-col md:flex mb-6">
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>ชื่อลูกค้า</mat-label>
                            <input matInput [placeholder]="''" formControlName="name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col md:flex mb-6">
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>เบอร์โทรติดต่อ</mat-label>
                            <input matInput [placeholder]="''" formControlName="phone">
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col md:flex mb-6">
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>ที่อยู่จัดส่ง</mat-label>
                            <textarea matInput [placeholder]="'กรุณาระบุที่อยู่'" formControlName="address" [rows]="4"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div> check : {{this.form.value | json}}</div> -->
        <div mat-dialog-actions class="flex justify-end border-t-2 pt-4">
            <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
                ตกลง
            </button>
            <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onClose()">
                ยกเลิก
            </button>
        </div>
    </form>
</div>
