<div class="md:max-w-lg">
    <h1 mat-dialog-title class="mb-4 text-xl font-semibold">ที่อยู่สมาชิก</h1>
    <div mat-dialog-content class="overflow-y-auto md:max-h-180">
        <ng-container *ngFor="let address of shipAddress; let i = index">
            <div class="py-3 border-b last:border-0 flex items-center gap-2">
                <div class="flex-grow">
                    <p class="font-medium">{{ address.address }}</p>
                    <p class="text-gray-600">
                        {{ address.sub_district }}, {{ address.district }}, {{ address.province }} {{
                        address.postal_code }}
                    </p>
                </div>
                <button class="px-4 py-1 text-white rounded" (click)="selectAddress(address)" mat-flat-button
                    [color]="'primary'">เลือก</button>
            </div>
        </ng-container>
    </div>
</div>