<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto  sm:p-10 bg-card m-4 p-4 rounded-md">
        <div class="flex flex-row justify-between pb-2">
            <div class="flex flex-col">
                <div class="flex space-x-2">
                    <button class="md:text-xl font-medium tracking-tight leading-7 sm:leading-10 truncate">
                        เอกสาร
                    </button>
                </div>
                <p class="md:text-2xl text-[#DF0B12] font-bold tracking-tight leading-7 sm:leading-10 truncate">
                    ใบแจ้งหนี้
                </p>
            </div>
            <div class="flex ml-auto space-x-4">
                <button mat-flat-button  (click)="opendialogdelete()" [disabled]="!this.multiSelect.length">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                    <span class="ml-2">ลบรายการ</span>
                </button>
                <button mat-flat-button (click)="add()" [color]="'primary'">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                    <span class="ml-2">เพิ่มรายการ</span>
                </button>

                <button [cdkMenuTriggerFor]="menu" mat-flat-button class="!text-white" [color]="'primary'">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:shopping-bag'"></mat-icon>
                    <div class="flex items-center gap-2">
                        <span class="ml-2"> การจัดการข้อมูล </span>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                    </div>
                </button>

                <ng-template #menu>
                    <div class="manage-menu bg-primary" cdkMenu>
                        <button class="manage-menu-item text-white" cdkMenuItem>
                            <mat-icon class="icon-size-5 text-white"
                                [svgIcon]="'heroicons_solid:document-duplicate'"></mat-icon>
                            <span class="ml-2">Copy to Clipboard</span>
                        </button>
                        <button class="manage-menu-item text-white" cdkMenuItem>
                            <mat-icon class="icon-size-5 text-white"
                                [svgIcon]="'heroicons_solid:table-cells'"></mat-icon>
                            <span class="ml-2">CSV</span>
                        </button>
                        <button class="manage-menu-item text-white" cdkMenuItem>
                            <mat-icon class="icon-size-5 text-white"
                                [svgIcon]="'heroicons_solid:table-cells'"></mat-icon>
                            <span class="ml-2">Excel</span>
                        </button>
                        <button class="manage-menu-item text-white" cdkMenuItem>
                            <mat-icon class="icon-size-5 text-white" [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                            <span class="ml-2">Print</span>
                        </button>
                    </div>
                </ng-template>
            </div>
        </div>
        <mat-divider class="mb-4"></mat-divider>
        <div>
            <form *ngIf="!showFilterForm" [formGroup]="filterForm">
                <div class="flex flex-col md:flex-row w-full gap-2 items-end">
                    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                        <mat-label>ช่วงเวลา</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="start_date">
                            <input matEndDate formControlName="end_date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                            <input matInput [placeholder]="'ค้นหาด้วย รหัสใบแจ้งหนี้'">
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-flat-button [color]="'primary'" (click)="openfillter()" class="mb-5">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bars-3'"></mat-icon>
                            <span class="ml-2">ค้นหาโดยใช้ตัวกรอง</span>
                        </button>
                    </div>
                    <div>
                        <button mat-flat-button [color]="'primary'" class="mb-5">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog-6-tooth'"></mat-icon>
                        </button>
                    </div>
                </div>
            </form>
            <form [formGroup]="filterForm" class="p-4 rounded-md"
                [@slideToggleFilter]="showFilterForm ? 'open' : 'closed'">
                <div>
                    <h2 class="text-xl font-extrabold leading-7 tracking-tight truncate md:text-xl sm:leading-10">
                        ตัวกรองขั้นสูง
                    </h2>
                    <mat-divider></mat-divider>
                </div>
                <div class="grid flex-col w-full gap-x-2 mt-2">
                    <div class="w-full flex flex-col md:flex-row gap-2">
                        <div class="w-full">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>วันที่สร้าง</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate formControlName="start_date">
                                    <input matEndDate formControlName="end_date">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>รหัสใบแจ้งหนี้</mat-label>
                                <input matInput formControlName="code">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>packing list</mat-label>
                                <input matInput formControlName="code">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>PO / Tracking</mat-label>
                                <input matInput formControlName="code">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="w-full flex flex-col md:flex-row gap-2">
                        <div class="w-full">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>ลูกค้า</mat-label>
                                <input matInput formControlName="code">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>สถานะ</mat-label>
                                <mat-select formControlName="code">
                                    <mat-option value="unpaid">ยังไม่ชำระเงิน</mat-option>
                                    <mat-option value="pending">รอครวจสอบ</mat-option>
                                    <mat-option value="credit">เครดิต</mat-option>
                                    <mat-option value="paid">ชำระเงินแล้ว</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>พนักงานขาย</mat-label>
                                <input matInput formControlName="code">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="w-full flex justify-end gap-2">
                    <button mat-flat-button [color]="'primary'" (click)="openfillter()">
                        <span class="ml-2">ปิดตัวกรอง</span>
                    </button>
                    <button mat-flat-button [color]="'primary'" (click)="clearFilter()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bars-3'"></mat-icon>
                        <span class="ml-2">ล้างตั้งค่าตัวกรอง</span>
                    </button>
                    <button mat-flat-button [color]="'primary'" (click)="applyFilter()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                        <span class="ml-2">ค้นหา</span>
                    </button>
                </div>
            </form>
            <div class="overflow-x-auto whitespace-nowrap mt-2 max-w-full">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table w-full bg-white row-border hover">
                </table>
            </div>
        </div>
    </div>
</div>


<ng-template #option let-data="adtData">
    <button [cdkMenuTriggerFor]="menu" mat-flat-button class="!text-white" [color]="'primary'">
        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:shopping-bag'"></mat-icon>
        <div class="flex items-center gap-2">
            <span class="ml-2"> ตัวเลือก </span>
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
        </div>
    </button>

    <ng-template #menu>
        <div class="manage-menu bg-primary" cdkMenu>
            <button class="manage-menu-item text-white" cdkMenuItem>
                <mat-icon class="icon-size-5 text-white"
                    [svgIcon]="'heroicons_solid:document-duplicate'"></mat-icon>
                <span class="ml-2">Copy to Clipboard</span>
            </button>
            <button class="manage-menu-item text-white" cdkMenuItem  (click)="opendialogsavepayment(data)">
                <mat-icon class="icon-size-5 text-white"
                    [svgIcon]="'feather:save'"></mat-icon>
                <span class="ml-2">บันทึกการชำระเงิน</span>
            </button>
            <button class="manage-menu-item text-white" cdkMenuItem (click)="opendialogstatus(data)">
                <mat-icon class="icon-size-5 text-white"
                    [svgIcon]="'heroicons_solid:clipboard-document-list'"></mat-icon>
                <span class="ml-2">อัปเดตสถานะ</span>
            </button>
        </div>
    </ng-template>
</ng-template>

<ng-template #checkbox let-data="adtData">
    <mat-checkbox [checked]="data.selected" (change)="onCheckboxChange($event, data.id)"></mat-checkbox>
</ng-template>

<ng-template #view let-data="adtData">
    <a class="text-[#DF0B12CC]" [routerLink]="['/invoice/view', data.id]"
        routerLinkActive="router-link-active">{{data?.code}}</a>
</ng-template>
