<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto  sm:p-10 bg-card m-4 p-4 rounded-md">
        <div class="flex flex-row justify-between pb-2">
            <div class="flex flex-col">
                <div class="flex space-x-2">
                    <button class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate">
                        {{ 'invoice.document' | transloco }}
                    </button>
                </div>
                <p class="md:text-2xl text-[#DF0B12] font-bold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ 'invoice.invoice' | transloco }}
                </p>
            </div>
            <div class="flex flex-col md:flex-row ml-auto gap-2">
                <button mat-flat-button [color]="'warn'" (click)="opendialogdelete()"
                    [disabled]="!this.multiSelect.length">
                    <mat-icon class="icon-size-5" [svgIcon]="'feather:trash'"></mat-icon>
                    <span class="ml-2">{{ 'buttons.delete_entry' | transloco }}</span>
                </button>
                <button mat-flat-button (click)="add()" [color]="'primary'">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                    <span class="ml-2">{{ 'buttons.addItem' | transloco }}</span>
                </button>

                <button [cdkMenuTriggerFor]="menu" mat-flat-button class="!text-white" [color]="'primary'">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:shopping-bag'"></mat-icon>
                    <div class="flex items-center gap-2">
                        <span class="ml-2"> {{ 'buttons.dataManagement' | transloco }} </span>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                    </div>
                </button>

                <ng-template #menu>
                    <div class="manage-menu bg-primary" cdkMenu>
                        <button class="manage-menu-item text-white" cdkMenuItem (click)="exportData('copy')">
                            <mat-icon class="icon-size-5 text-white"
                                [svgIcon]="'heroicons_solid:document-duplicate'"></mat-icon>
                            <span class="ml-2">Copy to Clipboard</span>
                        </button>
                        <button class="manage-menu-item text-white" cdkMenuItem (click)="exportData('csv')">
                            <mat-icon class="icon-size-5 text-white"
                                [svgIcon]="'heroicons_solid:table-cells'"></mat-icon>
                            <span class="ml-2">CSV</span>
                        </button>
                        <button class="manage-menu-item text-white" cdkMenuItem (click)="exportData('excel')">
                            <mat-icon class="icon-size-5 text-white"
                                [svgIcon]="'heroicons_solid:table-cells'"></mat-icon>
                            <span class="ml-2">Excel</span>
                        </button>
                        <button class="manage-menu-item text-white" cdkMenuItem (click)="exportData('print')">
                            <mat-icon class="icon-size-5 text-white" [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                            <span class="ml-2">Print</span>
                        </button>
                    </div>
                </ng-template>
            </div>
        </div>
        <mat-divider class="mb-4"></mat-divider>
        <div>
            <form *ngIf="!showFilterForm" [formGroup]="filterForm">
                <div class="flex flex-col md:flex-row w-full gap-2 items-end">
                    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                        <mat-label>{{ 'invoice.time_range' | transloco }}</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="start_date">
                            <input matEndDate formControlName="end_date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                            <input matInput class="ml-2" [placeholder]="'invoice.search_invoice_code' | transloco">
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-flat-button [color]="'primary'" (click)="openfillter()" class="mb-5">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bars-3'"></mat-icon>
                            <span class="ml-2">{{ 'buttons.advancedFilter' | transloco }}</span>
                        </button>
                    </div>

                </div>
            </form>
            <form [formGroup]="filterForm" class="p-4 rounded-md"
                [@slideToggleFilter]="showFilterForm ? 'open' : 'closed'">
                <div>
                    <h2 class="text-xl font-extrabold leading-7 tracking-tight truncate md:text-xl sm:leading-10">
                        {{ 'lables.advanced_filter' | transloco }}
                    </h2>
                    <mat-divider></mat-divider>
                </div>
                <div class="grid flex-col w-full gap-x-2 mt-2">
                    <div class="w-full flex flex-col md:flex-row gap-2">
                        <div class="w-full">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>{{ 'invoice.creation_date' | transloco }}</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate formControlName="start_date">
                                    <input matEndDate formControlName="end_date">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>{{ 'invoice.invoice_code' | transloco }}</mat-label>
                                <input matInput formControlName="code">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>{{ 'invoice.packing_list' | transloco }}</mat-label>
                                <input matInput formControlName="code">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>{{ 'invoice.po_tracking' | transloco }}</mat-label>
                                <input matInput formControlName="code">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="w-full flex flex-col md:flex-row gap-2">
                        <div class="w-full">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>{{ 'invoice.customer' | transloco }}</mat-label>
                                <input matInput formControlName="code">
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>{{ 'invoice.status' | transloco }}</mat-label>
                                <mat-select formControlName="code">
                                    <mat-option value="unpaid">{{ 'invoice.unpaid' | transloco }}</mat-option>
                                    <mat-option value="pending">{{ 'invoice.pending' | transloco }}</mat-option>
                                    <mat-option value="credit">{{ 'invoice.credit' | transloco }}</mat-option>
                                    <mat-option value="paid">{{ 'invoice.paid' | transloco }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>{{ 'invoice.sales_person' | transloco }}</mat-label>
                                <input matInput formControlName="code">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="w-full flex justify-end gap-2">
                    <button mat-flat-button [color]="'primary'" (click)="openfillter()">
                        <span class="ml-2">{{ 'buttons.closeFilter' | transloco }}</span>
                    </button>
                    <button mat-flat-button [color]="'primary'" (click)="clearFilter()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bars-3'"></mat-icon>
                        <span class="ml-2">{{ 'buttons.clearFilter' | transloco }}</span>
                    </button>
                    <button mat-flat-button [color]="'primary'" (click)="applyFilter()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                        <span class="ml-2">{{ 'buttons.search' | transloco }}</span>
                    </button>
                </div>
            </form>
            <div class="overflow-x-auto whitespace-nowrap mt-2 max-w-full">
                <table #tableElement datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table w-full bg-white row-border hover">
                </table>
            </div>
        </div>
    </div>
</div>


<ng-template #option let-data="adtData">
    <button [cdkMenuTriggerFor]="menu" mat-flat-button class="!text-white" [color]="'primary'">
        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:shopping-bag'"></mat-icon>
        <div class="flex items-center gap-2">
            <span class="ml-2">{{ 'invoice.options' | transloco }}</span>
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
        </div>
    </button>

    <ng-template #menu>
        <div class="manage-menu bg-primary" cdkMenu>
            <button class="manage-menu-item text-white" cdkMenuItem>
                <mat-icon class="icon-size-5 text-white" [svgIcon]="'heroicons_solid:document-duplicate'"></mat-icon>
                <span class="ml-2">Copy to Clipboard</span>
            </button>
            <button class="manage-menu-item text-white" cdkMenuItem (click)="opendialogsavepayment(data)">
                <mat-icon class="icon-size-5 text-white" [svgIcon]="'feather:save'"></mat-icon>
                <span class="ml-2">{{ 'invoice.save_payment' | transloco }}</span>
            </button>
            <button class="manage-menu-item text-white" cdkMenuItem (click)="opendialogstatus(data)">
                <mat-icon class="icon-size-5 text-white"
                    [svgIcon]="'heroicons_solid:clipboard-document-list'"></mat-icon>
                <span class="ml-2">{{ 'invoice.update_status' | transloco }}</span>
            </button>
        </div>
    </ng-template>
</ng-template>

<ng-template #checkbox let-data="adtData">
    <mat-checkbox class="text-white" [color]="'primary'" [checked]="data.selected"
        (change)="onCheckboxChange($event, data.id)"></mat-checkbox>
</ng-template>

<ng-template #view let-data="adtData">
    <a class="text-[#DF0B12CC]" [routerLink]="['/invoice/view', data.id]"
        routerLinkActive="router-link-active">{{data?.code}}</a>
</ng-template>

<ng-template #total let-data="adtData">
    <p>{{calculateTotalCharge(data )}}</p>
</ng-template>

<ng-template #status let-data="adtData">
    <div>
        <div *ngIf="data.status === 'pending'"
            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-yellow-50 text-yellow-600 border border-yellow-200">
            {{ 'invoice.pending' | transloco }}
        </div>
        <div *ngIf="data.status === 'review'"
            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-blue-50 text-blue-600 border border-blue-200">
            {{ 'invoice.under_review' | transloco }}
        </div>
        <div *ngIf="data.status === 'paid'"
            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-green-50 text-green-600 border border-green-200">
            {{ 'invoice.paid' | transloco }}
        </div>
        <div *ngIf="data.status === 'credit'"
            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-purple-50 text-purple-600 border border-purple-200">
            {{ 'invoice.credit' | transloco }}
        </div>
        <div *ngIf="data.status === 'cancelled'"
            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-red-50 text-red-500 border border-red-200">
            {{ 'invoice.cancelled' | transloco }}
        </div>
    </div>
</ng-template>

<ng-template #pic let-data="adtData">
    <div class="flex flex-row justify-center">
        <ng-container *ngIf="data.image; else noImage">
            <img [src]="data.image" class="w-auto h-20 rounded cursor-pointer" (click)="openImageViewer(data.image)"
                (error)="data.imageError = true" *ngIf="!data.imageError; else noImage">
        </ng-container>

        <ng-template #noImage>
            <div class="w-16 h-16 bg-[#797979] flex flex-col items-center justify-center text-sm rounded-md text-white">
                <div>
                    <mat-icon class="text-white" [svgIcon]="'heroicons_solid:photo'"></mat-icon>
                </div>
                <div>
                    No Image
                </div>
            </div>
        </ng-template>
    </div>
</ng-template>