<form *ngIf="!showFilterForm" [formGroup]="filterForm">
    <div class="flex flex-col md:flex-row w-full gap-2 items-end">
        <div class="w-full">
            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [placeholder]="'ค้นหาด้วยรหัสลูกค้า'">
            </mat-form-field>
        </div>
        <div>
            <button mat-flat-button [color]="'primary'" (click)="openfillter()" class="mb-5">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bars-3'"></mat-icon>
                <span class="ml-2">ค้นหาโดยใช้ตัวกรอง</span>
            </button>
        </div>
        <div>
            <button mat-flat-button [color]="'primary'" class="mb-5" type="button">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog-6-tooth'"></mat-icon>
            </button>
        </div>
    </div>
</form>
<form class="p-4 rounded-md" [@slideToggleFilter]="showFilterForm ? 'open' : 'closed'">
    <div>
        <h2 class="text-xl font-extrabold leading-7 tracking-tight truncate md:text-xl sm:leading-10">
            ตัวกรองขั้นสูง
        </h2>
        <mat-divider></mat-divider>
    </div>
    <div class="grid md:grid-cols-2 md:flex-row w-full gap-x-2 mt-2">
        <div class="w-full">
            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                <mat-label>รหัสลูกค้า</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                <mat-label>ชื่อลูกค้า</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="grid md:grid-cols-3 md:flex-row w-full gap-x-2 mt-2">
        <div class="w-full">
            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                <mat-label>เบอร์โทรศัพท์</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                <mat-label>อีเมล</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                <mat-label>Line ID</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="w-full flex justify-end gap-2">
        <button mat-flat-button [color]="'primary'" (click)="openfillter()" type="button">
            <span class="ml-2">ปิดตัวกรอง</span>
        </button>
        <button mat-flat-button [color]="'primary'" (click)="clearFilter()" type="button">
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bars-3'"></mat-icon>
            <span class="ml-2">ล้างตั้งค่าตัวกรอง</span>
        </button>
        <button mat-flat-button [color]="'primary'" (click)="rerender()" type="button">
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'" type="button"></mat-icon>
            <span class="ml-2">ค้นหา</span>
        </button>
    </div>
</form>
<div class="overflow-x-auto whitespace-nowrap mt-2 max-w-full">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table w-full bg-white row-border hover">
    </table>
</div>