<div class="p-2">
    <h2 class="text-2xl font-semibold mb-4">
        {{ title }}
    </h2>
    <form [formGroup]="form" class="flex flex-col w-full overflow-scroll">
        <div class="flex flex-row w-full gap-4">
            <div class="flex flex-col w-1/2">
                <div class="md:w-full">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <!-- <mat-label>วางลิ้งของคุณที่นี่</mat-label> -->
                        <input matInput [placeholder]="'วางลิ้งของคุณที่นี่'" formControlName="image_url">
                    </mat-form-field>
                </div>
            </div>
            <div class="flex items-center">
                <p>หรือ</p>
            </div>
            <div class="flex flex-col w-1/2">
                <div class="md:w-full">
                    <!-- การลากไฟล์หรือเลือกไฟล์ -->
                    <label for="fileInput"
                        class="block p-4 text-sm text-center text-gray-600 bg-gray-100 border-2 border-red-500 border-dashed rounded-lg cursor-pointer">
                        ลากไฟล์ของคุณมาหรือ
                        <span class="font-medium text-red-500">เลือกจากไฟล์ที่มี</span>
                        <input type="file" id="fileInput" class="hidden" (change)="onFilesSelected($event)" />
                    </label>
                </div>
            </div>
        </div>
        <div class="flex flex-row w-full gap-4 mt-2">
            <div class="flex flex-col w-full">
                <div class="w-full">
                    <!-- แสดงไฟล์ที่เลือก -->
                    <div *ngIf="uploadedFiles?.length > 0" class="space-y-4">
                        <div *ngFor="let file of uploadedFiles; let i = index"
                            class="flex items-center p-4 space-x-4 border border-gray-300 rounded-lg bg-gray-50">
                            <!-- รูปตัวอย่าง -->
                            <img [src]="file.imagePreview" alt="Preview"
                                class="object-cover w-16 h-16 border border-gray-300 rounded-md" />

                            <!-- รายละเอียดไฟล์ -->
                            <div class="flex-1">
                                <p class="text-sm font-medium text-gray-700 truncate">{{ file.name }}</p>
                                <p class="text-xs text-gray-500">{{ file.size }} kb</p>
                            </div>

                            <!-- ปุ่มลบ -->
                            <button
                                class="flex items-center justify-center w-8 h-8 text-gray-500 bg-gray-200 rounded-full hover:bg-red-100 hover:text-red-500"
                                (click)="removeFile(i)">
                                ✕
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div mat-dialog-actions class="flex justify-end pt-4 border-t-2">
            <button class="px-6 ml-3" mat-flat-button (click)="onClose()">
                ยกเลิก
            </button>
            <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
                บันทึก
            </button>
        </div>

    </form>
</div>

