<div class="flex flex-col flex-auto min-w-0">
  <div class="flex-auto  sm:p-10 bg-card m-4 p-4 rounded-md">
    <div class="flex flex-row justify-between pb-2 my-5">
      <div>
        <h2 class="text-2xl md:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          {{ 'bank.title.main' | transloco }}
        </h2>
      </div>
      <button mat-flat-button [color]="'primary'" (click)="opendialogapro()">
        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
        <span class="ml-2 ">{{ 'bank.buttons.addItem' | transloco }}</span>
      </button>
    </div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover w-full">
    </table>
  </div>
</div>

<ng-template #btNg let-data="adtData">
  <button mat-icon-button [color]="'primary'" [matMenuTriggerFor]="menu">
    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog-8-tooth'"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialogEdit(data)">
      <mat-icon [svgIcon]="'mat_outline:edit_note'"></mat-icon>
      <span>{{ 'buttons.edit' | transloco }}</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="clickDelete(data.id)">
      <mat-icon [svgIcon]="'feather:trash'"></mat-icon>
      <span>{{ 'buttons.delete' | transloco }}</span>
    </button>
  </mat-menu>
</ng-template>

<ng-template #pic let-data="adtData">
  <div class="flex flex-row justify-center">
    <ng-container *ngIf="data.icon; else noImage">
      <img [src]="data.icon" class="w-auto h-20 rounded cursor-pointer" (click)="openImageViewer(data.icon)"
        (error)="data.imageError = true" *ngIf="!data.imageError; else noImage">
    </ng-container>

    <ng-template #noImage>
      <div class="w-16 h-16 bg-[#797979] flex flex-col items-center justify-center text-sm rounded-md text-white">
        <div>
          <mat-icon class="text-white" [svgIcon]="'heroicons_solid:photo'"></mat-icon>
        </div>
        <div>
          No Image
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>