// :host {
//   display: block;
// }

::ng-deep tr {
    height: 56px !important;
}

.mat-tab-label {
    color: #DE1017 !important;
}

.manage-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 187px;
    max-width: 280px;
    background-color: rgba(255, 255, 255);
    padding: 6px 0;
    margin-top: 3px;
    border-radius: 4px;
}

.manage-menu-item,
.manage-standalone-trigger {
    background-color: transparent;
    cursor: pointer;
    border: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.manage-menu-item:hover {
    background-color: rgb(208, 208, 208);
}

.manage-menu-item:active {
    background-color: rgb(170, 170, 170);
}

.manage-standalone-item {
    background-color: rgb(239, 239, 239);
}

.manage-standalone-item:hover {
    background-color: rgb(208, 208, 208);
}

.manage-standalone-item[aria-expanded='true'] {
    background-color: rgb(208, 208, 208);
}
