<div class="flex flex-col flex-auto justify-start items-center w-full overflow-auto">
    <div class="w-full flex-col justify-between items-center flex overflow-hidden">
        <div class="w-full flex-col justify-start items-start flex">
            <div
                class="w-full px-4 md:px-10 pt-5 pb-2.5 bg-white justify-between items-center flex flex-col md:flex-row">
                <div class="flex flex-col">
                    <div class="flex space-x-2">
                        <button class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate"
                            [routerLink]="['/lot']" routerLinkActive="router-link-active">
                            {{ 'packing_list.package_summary_list' | transloco }}
                        </button>
                        <p class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate">></p>
                        <button
                            class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate text-[#DF0B12]"
                            [routerLink]="['/lot']" routerLinkActive="router-link-active">
                            {{ 'packing_list.packing_list' | transloco }}
                        </button>
                        <p class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate">></p>
                        <button
                            class="md:text-sm font-medium tracking-tight leading-7 sm:leading-10 truncate text-[#DF0B12]"
                            [routerLink]="['/lot/view/' + Id]" routerLinkActive="router-link-active">
                            {{ 'packing_list.packing_list' | transloco }}: {{ data.code }}
                        </button>
                    </div>

                    <p class="md:text-2xl text-[#DF0B12] font-bold tracking-tight leading-7 sm:leading-10 truncate">
                        DRAFT
                    </p>
                </div>
                <div class="flex flex-col md:flex-row ml-auto gap-2">
                    <button mat-flat-button [cdkMenuTriggerFor]="optionsMenu" [color]="'primary'">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bars-3'"></mat-icon>
                        <span class="ml-2">{{ 'buttons.options' | transloco }}</span>
                    </button>
                    <ng-template #optionsMenu>
                        <div class="manage-menu bg-primary" cdkMenu>
                            <button class="manage-menu-item text-white" (click)="sacnpo()" cdkMenuItem>
                                <mat-icon class="icon-size-5 text-white"
                                    [svgIcon]="'heroicons_solid:qr-code'"></mat-icon>
                                <span class="ml-2">{{ 'packing_list.view.scan_po_up_truck' | transloco }}</span>
                            </button>
                            <button class="manage-menu-item text-white" (click)="draft()" cdkMenuItem>
                                <mat-icon class="icon-size-5 text-white" [svgIcon]="'feather:file-text'"></mat-icon>
                                <span class="ml-2">Draft</span>
                            </button>
                            <button class="manage-menu-item text-white" (click)="lotedit()" cdkMenuItem>
                                <mat-icon class="icon-size-5 text-white" [svgIcon]="'mat_outline:edit_note'"></mat-icon>
                                <span class="ml-2">{{ 'packing_list.view.edit_data' | transloco }}</span>
                            </button>
                        </div>
                    </ng-template>

                    <button [cdkMenuTriggerFor]="menu" mat-flat-button class="!text-white" [color]="'primary'">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:shopping-bag'"></mat-icon>
                        <div class="flex items-center gap-2">
                            <span class="ml-2"> {{ 'buttons.dataManagement' | transloco }} </span>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                        </div>
                    </button>

                    <ng-template #menu>
                        <div class="manage-menu bg-primary" cdkMenu>
                            <button class="manage-menu-item text-white" cdkMenuItem>
                                <mat-icon class="icon-size-5 text-white"
                                    [svgIcon]="'heroicons_solid:document-duplicate'"></mat-icon>
                                <span class="ml-2">Copy to Clipboard</span>
                            </button>
                            <button class="manage-menu-item text-white" cdkMenuItem>
                                <mat-icon class="icon-size-5 text-white"
                                    [svgIcon]="'heroicons_solid:table-cells'"></mat-icon>
                                <span class="ml-2">CSV</span>
                            </button>
                            <button class="manage-menu-item text-white" cdkMenuItem>
                                <mat-icon class="icon-size-5 text-white"
                                    [svgIcon]="'heroicons_solid:table-cells'"></mat-icon>
                                <span class="ml-2">Excel</span>
                            </button>
                            <button class="manage-menu-item text-white" cdkMenuItem>
                                <mat-icon class="icon-size-5 text-white"
                                    [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                                <span class="ml-2">Print</span>
                            </button>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="w-full px-4 md:px-10 flex flex-col gap-2 bg-white pb-20">
                <div class="flex flex-col gap-2 w-full mb-4">
                    <h2 class="font-semibold text-lg">{{ 'packing_list.view_draft.package_summary_list' | transloco }}
                    </h2>
                    <mat-divider class="mb-3"></mat-divider>

                    <div class="flex flex-col md:grid md:grid-cols-2 gap-2 w-full ">
                        <div class="flex justify-between w-full">
                            <div class="w-full font-bold">{{ 'packing_list.view_draft.container_sequence' | transloco }}
                            </div>
                            <div class="w-full text-left">{{ data.code ?? '-' }}</div>
                        </div>
                        <div class="flex justify-between w-full">
                            <div class="w-full font-bold">{{ 'packing_list.view_draft.container_number' | transloco }}
                            </div>
                            <div class="w-full text-left">{{ data.container_no ?? '-' }}</div>
                        </div>
                        <div class="flex justify-between w-full">
                            <div class="w-full font-bold">{{ 'packing_list.view_draft.truck_license_plate' | transloco
                                }}</div>
                            <div class="w-full text-left">{{ data.truck_license_plate ?? '-' }}</div>
                        </div>
                        <div class="flex justify-between w-full">
                            <div class="w-full font-bold">{{ 'packing_list.view_draft.warehouse_entry_date' | transloco
                                }}</div>
                            <div class="w-full text-left">{{ data.closing_date ?? '-' }}</div>
                        </div>
                        <div class="flex justify-between w-full">
                            <div class="w-full font-bold">{{ 'packing_list.view_draft.china_shipping' | transloco }}
                            </div>
                            <div class="w-full text-left">{{ data.shipment_china ?? '-' }}</div>
                        </div>
                        <div class="flex justify-between w-full">
                            <div class="w-full font-bold">{{ 'packing_list.view_draft.thailand_shipping' | transloco }}
                            </div>
                            <div class="w-full text-left">{{ data.shipping_thailand ?? '-' }}</div>
                        </div>
                        <div class="flex justify-between w-full">
                            <div class="w-full font-bold">{{ 'packing_list.view_draft.thailand_arrival_date' | transloco
                                }}</div>
                            <div class="w-full text-left">{{ data.estimated_arrival_date ?? '-' }}</div>
                        </div>
                        <div class="flex justify-between w-full">
                            <div class="w-full font-bold">{{ 'packing_list.view_draft.transport_by' | transloco }}</div>
                            <div class="w-full text-left">{{ data.transport_by ?? '-' }}</div>
                        </div>
                        <div class="flex justify-between w-full">
                            <div class="w-full font-bold">{{ 'packing_list.view_draft.destination' | transloco }}</div>
                            <div class="w-full text-left">{{ data.destination ?? '-' }}</div>
                        </div>
                        <div class="col-span-2 bg-[#fdeaeb] rounded-md p-4">
                            <p class="font-bold text-red-600">{{ 'packing_list.view_draft.note' | transloco }}</p>
                            <p class="text-red-600">{{ data.remark ?? '-' }}</p>
                        </div>
                    </div>
                </div>
                <div
                    class="w-full p-4 my-4 border border-gray-300 rounded-lg min-h-[300px] overflow-y-auto flex flex-col">
                    <div class="flex flex-row w-full gap-2 mb-6">
                        <div class="w-full text-xl md:text-3xl font-bold">{{
                            'packing_list.view_draft.incoming_warehouse_parcels_po'
                            | transloco }}</div>
                    </div>
                    <div class="flex flex-col md:flex-row w-full gap-4 mb-4">
                        <!-- กล่องซ้าย: รายการประเภทและกราฟ -->
                        <div class="w-full md:w-7/12">
                            <div class="w-full text-xl font-bold mb-1">{{ 'packing_list.view_draft.item_types' |
                                transloco }}</div>
                            <div class="rounded-lg border-gray-300 border p-4 w-full flex flex-col md:flex-row">
                                <div class="grid grid-cols-1 md:grid-cols-5 gap-6 w-full">
                                    <!-- ประเภทสินค้า -->
                                    <div class="flex flex-col gap-4">
                                        <div class="flex flex-col items-end">
                                            <div class="text-2xl font-normal">{{ 'packing_list.view_draft.all_items' |
                                                transloco }}
                                            </div>
                                            <div class="text-xl font-bold">{{ sumdashbord.total_items }} <span
                                                    class="text-2xl font-normal">{{ 'packing_list.view_draft.items' |
                                                    transloco
                                                    }}</span></div>
                                        </div>
                                        <div *ngFor="let category of sumdashbord?.categories.slice(0,3)"
                                            class="flex flex-col items-end">
                                            <div class="text-xl font-semibold">{{ category.name }}</div>
                                            <div class="text-lg">{{ category.boxes }} {{ 'packing_list.view_draft.boxes'
                                                | transloco
                                                }}</div>
                                            <div class="text-md text-red-500">{{ category.cbm }} CBM</div>
                                        </div>
                                    </div>

                                    <!-- กราฟ -->
                                    <div class="flex justify-center items-center w-full col-span-3 ">
                                        <apx-chart [series]="chartOptions.n_series" [chart]="chartOptions.chart"
                                            [labels]="chartOptions.labels" [colors]="chartOptions.colors"
                                            [responsive]="chartOptions.responsive" [legend]="chartOptions.legend"
                                            [dataLabels]="chartOptions.dataLabels">
                                        </apx-chart>
                                    </div>
                                    <!-- ประเภทสินค้า (อีกครึ่ง) -->
                                    <div class="flex flex-col gap-4">
                                        <div *ngFor="let category of sumdashbord?.categories.slice(3,7)"
                                            class="flex flex-col items-end">
                                            <div class="text-xl font-semibold">{{ category.name }}</div>
                                            <div class="text-lg">{{ category.boxes }} {{ 'packing_list.view_draft.boxes'
                                                | transloco
                                                }}</div>
                                            <div class="text-md text-red-500">{{ category.cbm }} CBM</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- กล่องขวา: สรุปข้อมูล -->
                        <div class="w-full md:w-5/12">
                            <div class="w-full text-xl font-bold ml-1 mb-1">{{ 'packing_list.view_draft.total' |
                                transloco }}</div>
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-2 w-full">
                                <div
                                    class="rounded-lg border-gray-300 border p-6 py-8 flex justify-around items-center col-span-2 flex-col">
                                    <div class="flex flex-row w-full items-center mt-4">
                                        <img class="flex w-14 mr-2" src="assets/images/item/kg.png" alt="Logo image">
                                        <div class="text-lg font-normal w-full">{{
                                            'packing_list.view_draft.total_weight_kg' |
                                            transloco }}</div>
                                    </div>
                                    <mat-divider class="my-2"></mat-divider>
                                    <div class="w-full flex flex-row justify-between items-center">
                                        <div>{{ 'packing_list.view_draft.total_from_packing_list_items' | transloco }}
                                        </div>
                                        <div class="text-4xl font-bold text-blue-900">{{
                                            sumdashbord.summary.total_weight_kg }}</div>
                                    </div>
                                </div>
                                <div
                                    class="rounded-lg border-gray-300 border p-6 py-8 flex justify-around items-center col-span-2 flex-col">
                                    <div class="flex flex-row w-full items-center mt-4">
                                        <img class="flex w-14 mr-2" src="assets/images/item/cube.png" alt="Logo image">
                                        <div class="text-lg font-normal w-full">{{ 'packing_list.view_draft.total_cbm' |
                                            transloco }}
                                        </div>
                                    </div>
                                    <mat-divider class="my-2"></mat-divider>
                                    <div class="w-full flex flex-row justify-between items-center">
                                        <div>{{ 'packing_list.view_draft.total_from_packing_list_items' | transloco }}
                                        </div>
                                        <div class="text-4xl font-bold text-blue-900">{{ sumdashbord.summary.total_cbm
                                            }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form *ngIf="!showFilterForm" [formGroup]="filterForm">
                        <div class="flex flex-col md:flex-row w-full gap-2 items-end">
                            <div class="w-full">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-icon class="icon-size-5 mr-2"
                                        [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                    <input matInput formControlName="in_store"
                                        [placeholder]="'packing_list.view_draft.search_with_warehouse_receipt_code' | transloco">
                                </mat-form-field>
                            </div>
                            <div>
                                <button mat-flat-button [color]="'primary'" (click)="openfillter()" class="mb-5">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bars-3'"></mat-icon>
                                    <span class="ml-2">{{ 'buttons.advancedFilter' | transloco }}</span>
                                </button>
                            </div>
                            <div>
                                <button mat-flat-button [color]="'primary'" class="mb-5">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog-6-tooth'"></mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="filterForm" class="p-4 rounded-md"
                        [@slideToggleFilter]="showFilterForm ? 'open' : 'closed'">
                        <div>
                            <h2
                                class="text-xl font-extrabold leading-7 tracking-tight truncate md:text-xl sm:leading-10">
                                {{ 'lables.advanced_filter' | transloco }}
                            </h2>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="flex flex-col w-full gap-x-2 mt-2">
                            <div class="flex flex-col md:flex-row w-full gap-x-2">
                                <div class="w-full">
                                    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                        <mat-label>{{ 'packing_list.view_draft.creation_date' | transloco }}</mat-label>
                                        <mat-date-range-input [rangePicker]="picker">
                                            <input matStartDate formControlName="start_date">
                                            <input matEndDate formControlName="end_date">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-date-range-picker #picker></mat-date-range-picker>
                                    </mat-form-field>
                                </div>
                                <div class="w-full">
                                    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                        <mat-label>{{ 'packing_list.view_draft.po_tracking' | transloco }}</mat-label>
                                        <input matInput formControlName="code">
                                    </mat-form-field>
                                </div>
                                <div class="w-full">
                                    <mat-label>{{ 'delivery_order.labels.customer' | transloco }}</mat-label>
                                    <asha-select-member
                                    (change)="selectMember($event)"
                                    class="w-full [&_input]:!mt-0 [&_input]:!pt-1 [&_input]:!pb-1 [&_.mdc-text-field]:!mt-0">
                                    </asha-select-member>
                                </div>
                            </div>
                            <div class="flex flex-col md:flex-row w-full gap-x-2">
                                <div class="w-full">
                                    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                        <mat-label>{{ 'packing_list.view_draft.transport_by' | transloco }}</mat-label>
                                        <input matInput formControlName="trans_by">
                                    </mat-form-field>
                                </div>
                                <div class="w-full">
                                    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                        <mat-label>{{ 'packing_list.view_draft.type' | transloco }}</mat-label>
                                        <input matInput formControlName="type">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="w-full flex justify-end gap-2">
                            <button mat-flat-button [color]="'primary'" (click)="openfillter()">
                                <span class="ml-2">{{ 'buttons.closeFilter' | transloco }}</span>
                            </button>
                            <button mat-flat-button [color]="'primary'" (click)="clearFilter()">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bars-3'"></mat-icon>
                                <span class="ml-2">{{ 'buttons.clearFilter' | transloco }}</span>
                            </button>
                            <button mat-flat-button [color]="'primary'" (click)="applyFilter()">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                <span class="ml-2">{{ 'buttons.search' | transloco }}</span>
                            </button>
                        </div>
                    </form>
                    <div class="w-full overflow-x-auto">
                        <table class="whitespace-nowrap w-full">
                            <thead>
                                <tr>
                                    <th rowspan="2"
                                        class="sticky left-0 z-10 bg-white w-5 px-4 py-3 border border-x-0 items-center">
                                        <mat-checkbox class="text-white" [color]="'primary'" [checked]="selectAll"
                                            [indeterminate]="someSelect()"
                                            (change)="SelectAll($event.checked)"></mat-checkbox>
                                    </th>
                                    <th rowspan="2"
                                        class="sticky left-16 z-10 bg-white w-10 px-6 py-3 border border-l-0">#</th>
                                    <th rowspan="2" class="px-6 py-3 border border-x-0">{{
                                        'packing_list.view_draft.creation_date' | transloco }}</th>
                                    <th rowspan="2" class="px-6 py-3 border border-x-0">{{
                                        'packing_list.view_draft.warehouse_receipt_code' | transloco }}</th>
                                    <th rowspan="2" class="px-6 py-3 border border-x-0">{{
                                        'packing_list.view_draft.pallet_code' |
                                        transloco }}</th>
                                    <th rowspan="2" class="px-6 py-3 border border-x-0">{{
                                        'packing_list.view_draft.sack_code' |
                                        transloco }}</th>
                                    <th rowspan="2" class="px-6 py-3 border border-x-0">{{
                                        'packing_list.view_draft.customer' |
                                        transloco }}</th>
                                    <th rowspan="2" class="px-6 py-3 border border-x-0">{{
                                        'packing_list.view_draft.type' | transloco }}</th>
                                    <th rowspan="2" class="px-6 py-3 border border-x-0">{{
                                        'packing_list.view_draft.transport_channel' | transloco }}</th>
                                    <th rowspan="2" class="px-6 py-3 border border-x-0">{{
                                        'packing_list.view_draft.product_name' |
                                        transloco }}</th>
                                    <th rowspan="2" class="px-6 py-3 border border-x-0">{{
                                        'packing_list.view_draft.number_of_pieces'
                                        | transloco }}</th>
                                    <th rowspan="2" class="px-6 py-3 border border-x-0">{{
                                        'packing_list.view_draft.weight_kg' |
                                        transloco }}</th>
                                    <th colspan="3" class="px-6 py-3 border border-x-0">{{
                                        'packing_list.view_draft.size_cbm'
                                        | transloco }}</th>
                                </tr>
                                <tr>
                                    <th class="px-6 py-3 border border-x-0">{{ 'packing_list.view_draft.length' |
                                        transloco }}</th>
                                    <th class="px-6 py-3 border border-x-0">{{ 'packing_list.view_draft.width' |
                                        transloco }}</th>
                                    <th class="px-6 py-3 border border-x-0">{{ 'packing_list.view_draft.height' |
                                        transloco }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of filteredDeliveryOrders; let i = index" class="text-center">
                                    <td class="sticky left-0 z-10 bg-white py-3 border border-x-0 items-center">
                                        <mat-checkbox class="text-white" [color]="'primary'"
                                            [(ngModel)]="list.IsChecked" (ngModelChange)="updateAllselect()"
                                            [ngModelOptions]="{standalone: true}"></mat-checkbox>
                                    </td>
                                    <td class="sticky left-16 z-10 bg-white py-3 border border-l-0">{{ i + 1 }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ (list?.created_at | date: 'yyyy-MM-dd')
                                        ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.po_no ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.pallet?.code ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.sack?.code ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.delivery_order?.member?.name ?? '-'
                                        }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.product_type?.name ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.order?.name ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.product_name ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.qty ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.weight ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.long ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.width ?? '-' }}</td>
                                    <td class="px-6 py-3 border border-x-0">{{ list?.height ?? '-' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="w-full flex justify-end">
                        <app-pagination [totalItems]="delivery_orders.length" [initialPage]="1"
                            [initialItemsPerPage]="20" (pageChange)="onPageChange($event)">
                        </app-pagination>
                    </div>
                    <!-- <mat-paginator [length]="filteredDeliveryOrders" [pageSize]="20" showFirstLastButtons></mat-paginator> -->
                </div>
            </div>
        </div>
    </div>
</div>