<div class="flex flex-col items-center justify-start flex-auto w-full">
    <div class="flex flex-col items-center justify-between w-full overflow-hidden">
        <div class="flex flex-col items-start justify-start w-full">
            <div class="w-full px-4 md:px-10 pt-5 pb-2.5 bg-white justify-between items-center flex">
                <div class="flex flex-col">
                    <div class="flex space-x-2">
                        <button class="font-medium leading-7 tracking-tight truncate md:text-sm sm:leading-10"
                            [routerLink]="['/invoice']" routerLinkActive="router-link-active">
                            {{ 'invoice.document' | transloco }}
                        </button>
                        <p class="font-medium leading-7 tracking-tight truncate md:text-sm sm:leading-10">></p>
                        <button
                            class="font-medium text-[#DF0B12] leading-7 tracking-tight truncate md:text-sm sm:leading-10"
                            [routerLink]="['/invoice']" routerLinkActive="router-link-active">
                            {{ 'invoice.edit.invoice_details' | transloco }}
                        </button>
                    </div>

                    <p class="md:text-2xl text-[#DF0B12] font-bold tracking-tight leading-7 sm:leading-10 truncate">
                        <span>{{ 'invoice.edit.invoice_number' | transloco }}: {{ data?.code }}</span>
                    </p>
                </div>
                <div class="flex flex-col md:flex-row items-center justify-end gap-2">
                    <div class="border border-black rounded-md">
                        <button mat-flat-button (click)="Close()" class="hover-effect">
                            <mat-icon svgIcon="feather:trash"></mat-icon>
                            <span class="ml-2">{{ 'buttons.cancel' | transloco }}</span>
                        </button>
                    </div>
                    <button mat-flat-button [color]="'primary'" (click)="Submit()">
                        <mat-icon [svgIcon]="'mat_outline:save'"></mat-icon>
                        <span class="ml-2">{{ 'buttons.save' | transloco }}</span>
                    </button>
                </div>
            </div>
            <div class="flex flex-col w-full px-4 md:px-10 bg-white " [formGroup]="form">
                <div class="flex flex-row gap-2">
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'invoice.edit.importer_code' | transloco }}</mat-label>
                            <input matInput formControlName="member_code" readonly>
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'invoice.edit.invoice_number_field' | transloco }}</mat-label>
                            <input matInput [placeholder]="'edit.invoice_number_field' | transloco"
                                formControlName="bill_no">
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row gap-2">
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'invoice.edit.address_details' | transloco }}</mat-label>
                            <textarea matInput [placeholder]="'edit.enter_address_details' | transloco"
                                formControlName="address"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-2">
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'invoice.edit.province' | transloco }}</mat-label>
                            <mat-select formControlName="province_code" (selectionChange)="onProvinceChange()">
                                <mat-option *ngFor="let province of provinces" [value]="province.provinceNameTh">
                                    {{ province.provinceNameTh }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'invoice.edit.district' | transloco }}</mat-label>
                            <mat-select formControlName="district_code" (selectionChange)="onDistrictChange()">
                                <mat-option *ngFor="let district of districts" [value]="district.districtNameTh">
                                    {{ district.districtNameTh }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'invoice.edit.sub_district' | transloco }}</mat-label>
                            <mat-select formControlName="sub_district" (selectionChange)="onSubDistrictChange()">
                                <mat-option *ngFor="let subdistrict of subdistricts"
                                    [value]="subdistrict.subdistrictNameTh">
                                    {{ subdistrict.subdistrictNameTh }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'invoice.edit.postal_code' | transloco }}</mat-label>
                            <input matInput [placeholder]="'edit.postal_code' | transloco"
                                formControlName="postal_code">
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'invoice.edit.phone_number' | transloco }}</mat-label>
                            <input matInput [placeholder]="'edit.phone_number' | transloco" formControlName="phone">
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'invoice.edit.email' | transloco }}</mat-label>
                            <input matInput [placeholder]="'edit.email' | transloco" formControlName="email">
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'invoice.edit.location_label' | transloco }}</mat-label>
                            <mat-select formControlName="location" placeholder="">
                                <mat-option [value]=""> {{ 'invoice.edit.workplace' | transloco }} </mat-option>
                                <mat-option [value]=""> {{ 'invoice.edit.home' | transloco }} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'invoice.edit.convenient_time' | transloco }}</mat-label>
                            <mat-select formControlName="convenient_time"
                                placeholder="{{ 'invoice.edit.convenient_time' | transloco }}">
                                <mat-option [value]="'morning'"> ช่วงเช้า </mat-option>
                                <mat-option [value]="'afternoon'"> ช่วงบ่าย</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row gap-2">
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'invoice.edit.credit' | transloco }}</mat-label>
                            <input matInput [placeholder]="''" formControlName="credit_limit">
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'invoice.edit.credit_limit' | transloco }}</mat-label>
                            <input matInput formControlName="loan_amount">
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>{{ 'invoice.edit.estimated_arrival_date' | transloco }}</mat-label>
                            <input matInput [matDatepicker]="estimatedArrivalPicker"
                                formControlName="estimated_arrival_date">
                            <mat-datepicker-toggle matIconSuffix [for]="estimatedArrivalPicker"></mat-datepicker-toggle>
                            <mat-datepicker #estimatedArrivalPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="w-full">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>{{ 'invoice.edit.remark' | transloco }}</mat-label>
                        <textarea matInput formControlName="remark"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>