<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-4 m-4 rounded-md sm:p-10 bg-card">
        <div class="flex flex-col md:flex-row justify-between pb-2 my-5 gap-2">
            <div>
                <h2 class="text-2xl font-extrabold leading-7 tracking-tight truncate md:text-xl sm:leading-10">
                    {{ 'order_products.consignment_orders' | transloco }}
                </h2>
            </div>

            <div class="flex flex-col md:flex-row ml-auto gap-2">
                <a mat-flat-button [color]="'primary'" [routerLink]="'create'">
                    <mat-icon class="icon-size-5" [svgIcon]="'add'"></mat-icon>
                    <span class="ml-2">{{ 'buttons.addItem' | transloco }}</span>
                </a>
                <button [cdkMenuTriggerFor]="menu" mat-flat-button class="!text-white" [color]="'primary'">
                    <mat-icon class="icon-size-5" [svgIcon]="'work_outline'"></mat-icon>
                    <div class="flex items-center gap-2">
                        <span class="ml-2"> {{ 'buttons.dataManagement' | transloco }} </span>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                    </div>
                </button>

                <ng-template #menu>
                    <div class="manage-menu bg-primary" cdkMenu>
                        <button class="manage-menu-item text-white" cdkMenuItem (click)="exportData('copy')">
                            <mat-icon class="icon-size-5 text-white"
                                [svgIcon]="'heroicons_solid:document-duplicate'"></mat-icon>
                            <span class="ml-2">Copy to Clipboard</span>
                        </button>
                        <button class="manage-menu-item text-white" cdkMenuItem (click)="exportData('csv')">
                            <mat-icon class="icon-size-5 text-white"
                                [svgIcon]="'heroicons_solid:table-cells'"></mat-icon>
                            <span class="ml-2">CSV</span>
                        </button>
                        <button class="manage-menu-item text-white" cdkMenuItem (click)="exportData('excel')">
                            <mat-icon class="icon-size-5 text-white"
                                [svgIcon]="'heroicons_solid:table-cells'"></mat-icon>
                            <span class="ml-2">Excel</span>
                        </button>
                        <button class="manage-menu-item text-white" cdkMenuItem (click)="exportData('copy')">
                            <mat-icon class="icon-size-5 text-white" [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                            <span class="ml-2">Print</span>
                        </button>
                    </div>
                </ng-template>
            </div>
        </div>
        <form *ngIf="!showFilterForm" [formGroup]="form">
            <div class="flex flex-col md:flex-row w-full gap-2 items-end">
                <div class="w-full">
                    <mat-form-field class="w-full fuse-mat-dense">
                        <mat-label>{{ 'order_products.date' | transloco }}</mat-label>
                        <mat-date-range-input [rangePicker]="campaignOnePicker1"
                            [comparisonStart]="form.value.date_start" [comparisonEnd]="form.value.date_end">
                            <input matStartDate [formControlName]="'date_start'">
                            <input matEndDate [formControlName]="'date_end'">
                        </mat-date-range-input>
                        <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker1"></mat-datepicker-toggle>
                        <mat-date-range-picker #campaignOnePicker1></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <div class="w-full">
                    
                    <asha-select-importer (change)="selectMember($event)"></asha-select-importer>
                </div>
                <div>
                    <button mat-stroked-button [color]="'primary'" (click)="openfillter()"
                        class="mb-5 border-primary-600">
                        <mat-icon class="icon-size-5" [svgIcon]="'filter_list'"></mat-icon>
                        <span class="ml-2">{{ 'buttons.advancedFilter' | transloco }}</span>
                    </button>
                </div>

            </div>
        </form>
        <form *ngIf="showFilterForm" [formGroup]="filterForm" class="p-4 rounded-md">
            <div>
                <h2 class="text-xl font-extrabold leading-7 tracking-tight truncate md:text-xl sm:leading-10">
                    {{ 'lables.advanced_filter' | transloco }}
                </h2>
                <mat-divider></mat-divider>
            </div>
            <div class="flex flex-col md:grid md:grid-cols-2 md:flex-row w-full gap-x-2 mt-2">
                <div class="w-full">
                    <mat-form-field class="w-full fuse-mat-dense"[ngClass]="formFieldHelpers">
                        <mat-label>{{ 'order_products.date' | transloco }}</mat-label>
                        <mat-date-range-input [rangePicker]="campaignOnePicker"
                            [comparisonStart]="filterForm.value.date_start" [comparisonEnd]="filterForm.value.date_end">
                            <input matStartDate [formControlName]="'date_start'">
                            <input matEndDate [formControlName]="'date_end'">
                        </mat-date-range-input>
                        <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <mat-form-field class="w-full fuse-mat-dense"[ngClass]="formFieldHelpers">
                        <mat-label>{{ 'order_products.order_number' | transloco }}</mat-label>
                        <input matInput formControlName="code">
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <mat-label>{{ 'dalivery_order.labels.customer' | transloco }}</mat-label>
                    <asha-select-member
                    (change)="selectMember($event)"
                    class="w-full [&_input]:!mt-0 [&_input]:!pt-1 [&_input]:!pb-1 [&_.mdc-text-field]:!mt-0">
                    </asha-select-member>
                </div>
                <div class="w-full">
                    <mat-form-field class="w-full fuse-mat-dense"[ngClass]="formFieldHelpers">
                        <mat-label>{{ 'order_products.status' | transloco }}</mat-label>
                        <mat-select formControlName="status">
                            <mat-option value="in_progress">{{ 'order_products.status_options.in_progress' | transloco
                                }}</mat-option>
                            <mat-option value="awaiting_summary">{{ 'order_products.status_options.awaiting_summary' |
                                transloco }}</mat-option>
                            <mat-option value="awaiting_payment">{{ 'order_products.status_options.awaiting_payment' |
                                transloco }}</mat-option>
                            <mat-option value="payment">{{ 'order_products.status_options.payment' | transloco
                                }}</mat-option>
                            <mat-option value="preparing_shipment">{{ 'order_products.status_options.preparing_shipment'
                                | transloco }}</mat-option>
                            <mat-option value="shipped">{{ 'order_products.status_options.shipped' | transloco
                                }}</mat-option>
                            <mat-option value="cancelled">{{ 'order_products.status_options.cancelled' | transloco
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="w-full flex justify-end gap-2">
                <button mat-stroked-button [color]="'primary'" class="border-none" (click)="openfillter()">
                    <span class="ml-2">{{ 'buttons.closeFilter' | transloco }}</span>
                </button>
                <button mat-stroked-button [color]="'primary'" (click)="clearFilter()" class="border-primary-600">
                    <mat-icon class="icon-size-5" [svgIcon]="'clear_all'"></mat-icon>
                    <span class="ml-2">{{ 'buttons.clearFilter' | transloco }}</span>
                </button>
                <button mat-flat-button [color]="'primary'" (click)="rerender()">
                    <mat-icon class="icon-size-5" [svgIcon]="'search'"></mat-icon>
                    <span class="ml-2">{{ 'buttons.search' | transloco }}</span>
                </button>
            </div>
        </form>
        <div class="w-full overflow-auto">
            <table #tableElement datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tableData"
                class="table w-full bg-white row-border hover whitespace-nowrap">
            </table>
        </div>
    </div>
</div>

<ng-template #checkbox let-data="adtData">
    <mat-checkbox class="text-white" [color]="'primary'" [checked]="formData.get('ids').value.includes(data.id)"
        (change)="toggleSelect(data.id, $event.checked)">
    </mat-checkbox>
</ng-template>

<ng-template #edit let-data="adtData">
    <a class="text-[#DF0B12CC]" [routerLink]="[ data.id ]">{{data?.code}}</a>
</ng-template>

<ng-template #member let-data="adtData">
    <div> {{data?.member?.fname}} {{data?.member?.lname}}</div>
</ng-template>

<ng-template #status let-data="adtData">
    <div>
        <div *ngIf="data.status == 'payment'"
            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-green-50 text-green-600 border border-green-200">
            {{ 'order_products.order_status.payment' | transloco }}</div>
        <div *ngIf="data.status == 'awaiting_summary'"
            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-orange-50 text-orange-600 border border-orange-200">
            {{ 'order_products.order_status.awaiting_summary' | transloco }}</div>
        <div *ngIf="data.status == 'awaiting_payment'"
            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-yellow-50 text-yellow-600 border border-yellow-200">
            {{ 'order_products.order_status.awaiting_payment' | transloco }}</div>
        <div *ngIf="data.status == 'in_progress'"
            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-blue-50 text-blue-600 border border-blue-200">
            {{ 'order_products.order_status.in_progress' | transloco }}</div>
        <div *ngIf="data.status == 'preparing_shipment'"
            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-purple-50 text-purple-600 border border-purple-200">
            {{ 'order_products.order_status.preparing_shipment' | transloco }}</div>
        <div *ngIf="data.status == 'shipped'"
            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-teal-50 text-teal-600 border border-teal-200">
            {{ 'order_products.order_status.shipped' | transloco }}</div>
        <div *ngIf="data.status == 'cancelled'"
            class="px-4 py-1.5 rounded-full text-sm inline-flex items-center justify-center font-medium bg-red-50 text-red-500 border border-red-200">
            {{ 'order_products.order_status.cancelled' | transloco }}</div>
    </div>
</ng-template>

<ng-template #update let-data="adtData">
    <div class="flex gap-2">
        <button [disabled]="data?.status != 'awaiting_payment'" mat-icon-button (click)="openDialogPayment(data)"
            [ngClass]="{ 'bg-gray-300': data?.status != 'awaiting_payment', 'bg-accent': data?.status == 'awaiting_payment' }"    
            class="rounded-md p-2 shadow-md">
            <mat-icon svgIcon="mat_outline:edit_note" class="text-white"></mat-icon>
        </button>
        @if (permissionName == 'admin') {
        <button mat-icon-button (click)="clickUpdateStatus(data)" class="bg-accent rounded-md p-2 shadow-md">
            <mat-icon svgIcon="mat_outline:account_balance_wallet" class="text-white"></mat-icon>
        </button>
        }
    </div>
</ng-template>

<ng-template #pic let-data="adtData">
    <div class="flex flex-row justify-center cursor-pointer">
        <ng-container *ngIf="data?.order_payment; else noImage">

            <!-- ถ้าเป็นแบบ upload -->
            <ng-container *ngIf="data.order_payment.payment_type === 'upload'; else useIcon">

                <ng-container *ngIf="data.order_payment.image; else noImage">
                    <div (click)="showPicture(data.order_payment.image)">
                        <img [src]="data.order_payment.image" alt="Image" class="rounded-md w-10 h-15 text-center"
                            (error)="onImageError(data.order_payment.image)"
                            (load)="onImageLoad(data.order_payment.image)" />
                    </div>
                    <div *ngIf="imageLoadedMap[data.order_payment.image] === false">
                        <mat-icon class="text-gray-400 text-6xl mb-4">image_not_supported</mat-icon>
                    </div>
                </ng-container>
            </ng-container>
            <!-- ถ้าไม่ใช่แบบ upload ใช้ icon -->
            <ng-template #useIcon>
                <ng-container *ngIf="data.order_payment.payment_icon; else noImage">
                    <div>
                        <img [src]="data.order_payment.payment_icon" alt="Icon"
                            class="rounded-md w-10 h-auto text-center"
                            (error)="onImageError(data.order_payment.payment_icon)"
                            (load)="onImageLoad(data.order_payment.payment_icon)" />
                    </div>
                    <div *ngIf="imageLoadedMap[data.order_payment.payment_icon] === false">
                        <mat-icon class="text-gray-400 text-6xl mb-4">image_not_supported</mat-icon>
                    </div>
                </ng-container>
            </ng-template>
        </ng-container>
        <!-- ถ้าไม่มี order_payment หรือไม่มีรูป -->
        <ng-template #noImage>
            <mat-icon class="text-gray-400 text-6xl mb-4">image_not_supported</mat-icon>
        </ng-template>
    </div>
</ng-template>