<div class="p-4">
    <h2 class="text-2xl font-semibold mb-4">{{ 'common.dialog_update_status.update_status' | transloco }}</h2>
    <form [formGroup]="form">
        <div class="flex flex-col md:flex-row w-full gap-2 items-end">
            <div class="w-full">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                    <mat-label>{{ 'common.dialog_update_status.status' | transloco }}</mat-label>
                    <mat-select formControlName="status">
                        @for (item of status; track $index) {
                        <mat-option [value]="item.value">{{ item.name[lang] }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                @if (enableRemark) {
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                    <mat-label>{{ 'common.dialog_update_status.remark' | transloco }}</mat-label>
                    <input type="text" matInput formControlName="remark" />
                </mat-form-field>
                }
            </div>
        </div>
    </form>
    <div mat-dialog-actions class="flex justify-end border-t-2 mt-2 p-2">
        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
            {{ 'buttons.submit' | transloco }}
        </button>
        <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onClose()">
            {{ 'buttons.cancel' | transloco }}
        </button>
    </div>
</div>